body {
  margin: 0 auto;
  font-size: 16px !important; }

#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("/img/logo.png") center no-repeat; }

div.progress {
  height: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

.progress-bar {
  transition-duration: 3s; }

header:hover {
  background: linear-gradient(226deg, #edac01, #f8d602, #ffea00, #f8c302);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 14s ease infinite;
  -moz-animation: AnimationName 14s ease infinite;
  -o-animation: AnimationName 14s ease infinite;
  animation: AnimationName 14s ease infinite; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 93% 0%; }
  50% {
    background-position: 0% 100%; }
  100% {
    background-position: 93% 0%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 93% 0%; }
  50% {
    background-position: 0% 100%; }
  100% {
    background-position: 93% 0%; } }

@-o-keyframes AnimationName {
  0% {
    background-position: 93% 0%; }
  50% {
    background-position: 0% 100%; }
  100% {
    background-position: 93% 0%; } }

@keyframes AnimationName {
  0% {
    background-position: 93% 0%; }
  50% {
    background-position: 0% 100%; }
  100% {
    background-position: 93% 0%; } }

header, .progress-bar-success {
  background-image: linear-gradient(to left, #f8d602, #edac01); }

.home-header {
  margin: 80px 0 220px 0; }

.home-header h1 {
  font-size: 38px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  padding: 150px;
  text-align: center;
  color: #ffffff; }

nav.navbar.navbar-default {
  background: transparent;
  border-color: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

.navbar-default .navbar-nav > li > a {
  color: #fff !important; }

.believe {
  margin: 280px 0 195px 0; }

.believe p {
  font-size: 38px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  text-align: left;
  color: #000000; }

.first {
  margin: 0 0 30px 0; }

.rectangle, .rectangle-1 {
  padding: 180px 0 40px 34px;
  color: #fff;
  text-align: left; }

.rectangle-2, .rectangle-3 {
  padding: 350px 0 40px 34px;
  color: #fff;
  text-align: left; }

.rectangle {
  background-image: linear-gradient(246deg, rgba(255, 214, 50, 0.98), #ffd21e); }

.rectangle-1 {
  background-image: linear-gradient(224deg, #044932, #055c3f); }

.rectangle-2 {
  background-image: linear-gradient(135deg, #1d3853, #264563); }

.rectangle-3 {
  background-image: linear-gradient(43deg, #b3c4c4, #bdcdcd); }

.rectangle h2, .rectangle-1 h2, .rectangle-2 h2, .rectangle-3 h2 {
  margin-bottom: 36px;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.93; }

.rectangle p, .rectangle-1 p, .rectangle-2 p, .rectangle-3 p {
  margin-bottom: 29px;
  margin-right: 20px;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27; }

.rectangle a, .rectangle-1 a, .rectangle-2 a, .rectangle-3 a, .rectangle a:hover, .rectangle-1 a:hover, .rectangle-2 a:hover, .rectangle-3 a:hover {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  color: #fff;
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
  text-decoration: none; }

.more-projects {
  text-align: right;
  margin-top: 32px;
  margin-bottom: 270px; }

.more-projects a {
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  color: #000; }

.more-projects a:hover {
  color: #000;
  text-decoration: none; }

.mask {
  background-color: #f6f6f6;
  margin-bottom: 171px;
  height: 400px; }

.latest-articles {
  margin-bottom: 300px; }

.latest-articles h2 {
  margin-bottom: 28px;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  color: #000000; }

.latest-articles p {
  margin-bottom: 29px;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  color: #000000; }

.latest-articles a, .latest-articles a:hover {
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  color: #edac01;
  border-bottom: 2px solid #edac01;
  padding-bottom: 3px;
  text-decoration: none; }

.footer-rectangle {
  margin-bottom: 36px;
  padding-top: 200px;
  padding-left: 78px !important;
  padding-bottom: 220px;
  background-image: linear-gradient(to left, #f8d602, #edac01);
  color: #fff; }

.footer-rectangle:hover {
  background: linear-gradient(226deg, #edac01, #f8d602, #ffea00, #f8c302);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 14s ease infinite;
  -moz-animation: AnimationName 14s ease infinite;
  -o-animation: AnimationName 14s ease infinite;
  animation: AnimationName 14s ease infinite; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 93% 0%; }
  50% {
    background-position: 0% 100%; }
  100% {
    background-position: 93% 0%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 93% 0%; }
  50% {
    background-position: 0% 100%; }
  100% {
    background-position: 93% 0%; } }

@-o-keyframes AnimationName {
  0% {
    background-position: 93% 0%; }
  50% {
    background-position: 0% 100%; }
  100% {
    background-position: 93% 0%; } }

@keyframes AnimationName {
  0% {
    background-position: 93% 0%; }
  50% {
    background-position: 0% 100%; }
  100% {
    background-position: 93% 0%; } }

.footer-rectangle h1 {
  margin-top: 0; }

footer a.navbar-brand {
  text-align: center;
  float: none; }

footer a.navbar-brand img {
  margin: 0 auto; }

footer .nav > li > a:focus, footer .nav > li > a:hover {
  background-color: transparent; }

footer .nav > li > a, span.copyright {
  color: #edac01; }

footer .nav > li > a {
  padding-left: 0;
  margin-left: -15px;
  padding-right: 35px; }
