/* -----------------------------------------------------------------------------

  HAMBURGER ICONS COMPONENT
  
----------------------------------------------------------------------------- */
/**
 * Toggle Switch Globals
 *
 * All switches should take on the class `c-hamburger` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 5px;
  padding: 0;
  width: 48px;
  height: 48px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.4s; }

.c-hamburger:focus {
  outline: none; }

.c-hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 8px;
  right: 8px;
  height: 4px; }

.home-header .c-hamburger span, .home-header .c-hamburger span::before, .home-header .c-hamburger span::after, .about-header .c-hamburger span, .about-header .c-hamburger span::before, .about-header .c-hamburger span::after, .contact-header .c-hamburger span, .contact-header .c-hamburger span::before, .contact-header .c-hamburger span::after {
  background: white; }

.blog .c-hamburger span, .blog .c-hamburger span::before, .blog .c-hamburger span::after {
  background: #edac01; }

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  content: ""; }

.c-hamburger span::before {
  top: -12px; }

.c-hamburger span::after {
  bottom: -12px; }

/**
 * Style 2
 * 
 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
 * down to center and transform into an "x".
 */
.c-hamburger--htx span {
  transition: background 0s 0s; }

.c-hamburger--htx span::before {
  transition: top 0.4s ease 0.4s, transform 0.4s ease 0s; }

.c-hamburger--htx span::after {
  transition: bottom 0.4s ease 0.4s, transform 0.4s ease 0s; }

/* active state, i.e. menu open */
.c-hamburger--htx.is-active span {
  background: none; }

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg); }

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg); }

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.4s;
  background: #edac01; }

.animate-in {
  opacity: 0;
  transform: translateY(-50px);
  transition: 0.5s; }

nav.navbar .container {
  transform: translateY(-100%);
  opacity: 0;
  transition: 0.75s; }

.loaded nav.navbar .container {
  transform: translateY(0%);
  opacity: 1;
  transition: 0.75s 1.25s; }

nav.navbar.navbar-default {
  background: transparent;
  border-color: transparent;
  border-radius: 0px; }

nav#navb.navbar-fixed-top {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15); }
  nav#navb.navbar-fixed-top .daniel-baldwin-bra {
    display: none; }
  nav#navb.navbar-fixed-top .nav > li > a {
    color: #000 !important;
    position: relative; }
    nav#navb.navbar-fixed-top .nav > li > a:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      border-bottom: 1px solid #001eff;
      transition: 0.4s; }
    nav#navb.navbar-fixed-top .nav > li > a:hover:after {
      width: 100%; }
    nav#navb.navbar-fixed-top .nav > li > a.active {
      border-bottom: 1px solid #edac01; }

.navbar-default {
  z-index: 10; }
  @media screen and (max-width: 768px) {
    .navbar-default .navbar-header {
      padding-top: 35px; } }
  .navbar-default .nav > li > a {
    margin: 10px 30px 10px 0;
    padding: 2px 1px;
    position: relative; }
    .navbar-default .nav > li > a:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      border-bottom: 1px solid #fff;
      transition: 0.4s; }
    .navbar-default .nav > li > a:hover:after {
      width: 100%; }
    .navbar-default .nav > li > a.active {
      border-bottom: 1px solid #fff; }
  .navbar-default .navbar-brand .grow {
    transition: all .2s ease-in-out; }
    .navbar-default .navbar-brand .grow:hover {
      transform: scale(1.1); }
  .navbar-default .navbar-brand.navbar-right {
    float: right;
    margin-right: 0px !important; }
  .navbar-default .navbar-float-none {
    margin-left: 0 !important;
    float: none !important;
    left: calc(50% - 21.5px);
    position: absolute; }
  .navbar-default .navbar-toggle {
    float: left; }
  .navbar-default .navbar-collapse {
    padding-left: 0 !important;
    padding-right: 0 !important; }
    .navbar-default .navbar-collapse .daniel-baldwin-bra p {
      margin-bottom: 0; }
    .navbar-default .navbar-collapse .daniel-baldwin-bra p, .navbar-default .navbar-collapse .daniel-baldwin-bra a {
      font-size: 16px;
      line-height: 1.38;
      color: #ffffff; }
    .navbar-default .navbar-collapse .daniel-baldwin-bra a {
      position: relative;
      text-decoration: none; }
      .navbar-default .navbar-collapse .daniel-baldwin-bra a:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        border-bottom: 1px solid #001eff;
        transition: 0.4s; }
      .navbar-default .navbar-collapse .daniel-baldwin-bra a:hover:after {
        width: 100%; }
  @media screen and (max-width: 768px) {
    .navbar-default .navbar-collapse {
      border-color: transparent !important;
      box-shadow: none !important;
      margin: 0 auto; }
      .navbar-default .navbar-collapse .navbar-nav > li {
        text-align: center; }
        .navbar-default .navbar-collapse .navbar-nav > li > a {
          font-size: 28px;
          line-height: 2.83;
          font-family: 'Neue Haas Unica W01 Heavy';
          padding: 10px 0px; }
          .navbar-default .navbar-collapse .navbar-nav > li > a.active {
            font-family: 'Neue Haas Unica W01 Heavy'; } }
  .navbar-default .home .navbar-toggle {
    border-color: transparent !important;
    margin-top: 0px; }
    .navbar-default .home .navbar-toggle .icon-bar {
      height: 3px;
      background-color: #fff !important; }
    .navbar-default .home .navbar-toggle:hover, .navbar-default .home .navbar-toggle:focus {
      background-color: transparent !important; }
      .navbar-default .home .navbar-toggle:hover .icon-bar, .navbar-default .home .navbar-toggle:focus .icon-bar {
        background-color: #edac01 !important; }
  .navbar-default .blog .navbar-toggle {
    border-color: transparent !important;
    margin-top: 0px; }
    .navbar-default .blog .navbar-toggle .icon-bar {
      height: 3px;
      background-color: #edac01 !important; }
    .navbar-default .blog .navbar-toggle:hover, .navbar-default .blog .navbar-toggle:focus {
      background-color: #fff !important; }
      .navbar-default .blog .navbar-toggle:hover .icon-bar, .navbar-default .blog .navbar-toggle:focus .icon-bar {
        background-color: #edac01 !important; }
  .navbar-default .blog .navbar-nav > li > a {
    color: #fff !important; }
  .navbar-default .blog .navbar-nav > li > a.active {
    color: #fff !important; }
  .navbar-default .work .navbar-nav > li > a {
    color: #000 !important; }
    .navbar-default .work .navbar-nav > li > a:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      border-bottom: 1px solid #edac01;
      transition: 0.4s; }
    .navbar-default .work .navbar-nav > li > a:hover:after {
      width: 100%; }
  .navbar-default .work .navbar-nav > li > a.active {
    color: #000 !important;
    border-bottom: 1px solid #edac01; }
  .navbar-default .home .navbar-nav > li > a, .navbar-default .home .navbar-nav > li > a.active {
    color: #fff !important; }
  .navbar-default .navbar-default [aria-expanded="true"] {
    background: #fff !important; }
  .navbar-default .home [aria-expanded="true"] {
    background: transparent !important; }
    .navbar-default .home [aria-expanded="true"] .icon-bar {
      height: 3px;
      background-color: #edac01 !important; }
    .navbar-default .home [aria-expanded="true"]:hover {
      background-color: transparent !important; }
      .navbar-default .home [aria-expanded="true"]:hover .icon-bar {
        background-color: #edac01 !important; }
  @media screen and (max-width: 768px) {
    .navbar-default .home .navbar-collapse .navbar-nav > li > a, .navbar-default .blog .navbar-collapse .navbar-nav > li > a, .navbar-default .social {
      color: #edac01 !important; } }
  .navbar-default .social {
    font-size: 30px;
    padding: 0 13px; }
  .navbar-default .navbar-brand {
    padding: 0px 0px !important; }
    @media screen and (max-width: 768px) {
      .navbar-default .navbar-brand {
        padding: 5px 0px !important; } }
    .navbar-default .navbar-brand img {
      width: 43px;
      height: 43px;
      margin-right: 5px; }
    .navbar-default .navbar-brand > li > a {
      padding-top: 35px !important; }

/* --- Home Page --- */
.progress-bar-success {
  background-image: linear-gradient(to left, #f8d602, #edac01); }

.home-header {
  background-color: #f6f6f6; }
  .home-header header {
    padding-top: 30px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px; }
    @media screen and (max-width: 768px) {
      .home-header header {
        padding-top: 0; } }
  .home-header h1 {
    font-size: 60px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: #ffffff;
    margin: 0 auto; }
    .home-header h1 span {
      display: block;
      transform: translateY(40px);
      opacity: 0;
      transition: 0.75s; }
    @media screen and (max-width: 768px) {
      .home-header h1 {
        font-size: 28px; } }
  .home-header .hero-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    /*position: absolute;
    top: 295px;
    left: 100px;*/ }
    .home-header .hero-container .container {
      position: relative;
      z-index: 3; }
  .home-header .yellow-logo {
    display: none; }
  .home-header.white {
    background: #fff; }
    .home-header.white .yellow-logo {
      display: block; }
    .home-header.white .white-logo {
      display: none; }

.loaded .home-header h1 span:nth-of-type(1) {
  transform: translateY(0%);
  opacity: 1;
  transition: 0.75s 0.75s; }
.loaded .home-header h1 span:nth-of-type(2) {
  transform: translateY(0%);
  opacity: 1;
  transition: 0.75s 0.95s; }

.db-icon {
  padding-top: 50vh;
  padding-bottom: 100px;
  overflow: hidden;
  position: relative; }
  .db-icon .circle-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(20%);
    transition: 0.75s;
    height: 100px; }
  .db-icon .circle {
    position: absolute;
    top: 0%;
    left: -15%;
    width: 130%;
    background: #fff;
    border-radius: 50%;
    transition: 0s; }
    .db-icon .circle:after {
      content: "";
      display: block;
      padding-top: 100%; }
  .db-icon .db-icons {
    margin: 0 auto;
    text-align: center; }
    .db-icon .db-icons h3 {
      font-size: 13px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.69;
      letter-spacing: 1.5px;
      text-align: center;
      text-transform: uppercase;
      color: #edac01;
      transform: translateY(20px);
      opacity: 0;
      transition: 0.5s; }
    .db-icon .db-icons .svg {
      max-width: 100px;
      display: block;
      margin: 0 auto;
      transform: translateX(-30px);
      opacity: 0;
      transition: 0.5s; }
    .db-icon .db-icons.active .icon-1 .svg {
      transform: translateX(0px);
      opacity: 1;
      transition: 0.7s 0s; }
    .db-icon .db-icons.active .icon-1 h3 {
      transform: translateY(0px);
      opacity: 1;
      transition: 0.7s 0.3s; }
    .db-icon .db-icons.active .icon-2 .svg {
      transform: translateX(0px);
      opacity: 1;
      transition: 0.7s 0.5s; }
    .db-icon .db-icons.active .icon-2 h3 {
      transform: translateY(0px);
      opacity: 1;
      transition: 0.7s 0.6s; }
    .db-icon .db-icons.active .icon-3 .svg {
      transform: translateX(0px);
      opacity: 1;
      transition: 0.7s 1s; }
    .db-icon .db-icons.active .icon-3 h3 {
      transform: translateX(0px);
      opacity: 1;
      transition: 0.7s 0.9s; }
    .db-icon .db-icons.active .icon-4 .svg {
      transform: translateX(0px);
      opacity: 1;
      transition: 0.7s 1.5s; }
    .db-icon .db-icons.active .icon-4 h3 {
      transform: translateY(0px);
      opacity: 1;
      transition: 0.7s 1.2s; }
    .db-icon .db-icons.active .icon-5 .svg {
      transform: translateX(0px);
      opacity: 1;
      transition: 0.7s 2s; }
    .db-icon .db-icons.active .icon-5 h3 {
      transform: translateY(0px);
      opacity: 1;
      transition: 0.7s 1.5s; }

.loaded .db-icon .circle-wrapper {
  transform: translateY(0); }

.hero-circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .hero-circles .circle-1 {
    background-color: #edac01;
    border-radius: 50%;
    width: 70vw;
    position: absolute;
    top: -20vw;
    left: -5vw;
    z-index: 2;
    transform: translate(-20%, -20%);
    opacity: 0;
    transition: 0.75s; }
    .hero-circles .circle-1:after {
      content: "";
      display: block;
      padding-top: 100%; }
  .hero-circles .circle-2 {
    background-color: #001eff;
    border-radius: 50%;
    width: 60vw;
    position: absolute;
    right: -30vw;
    top: -35vw;
    transform: translate(20%, 20%);
    opacity: 0;
    transition: 0.75s; }
    .hero-circles .circle-2:after {
      content: "";
      display: block;
      padding-top: 100%; }

.loaded .hero-circles .circle-1 {
  transform: translate(0%, 0%);
  opacity: 1;
  transition: 0.75s 0.25s; }
.loaded .hero-circles .circle-2 {
  transform: translate(0%, 0%);
  opacity: 1;
  transition: 0.75s 0.5s; }

#home {
  overflow: hidden; }

.more-projects {
  text-align: center;
  padding: 100px 0 130px 0; }
  .more-projects .button-wrapper {
    transform: translateY(40px);
    opacity: 0;
    transition: 0.5s; }
  .more-projects.active .button-wrapper {
    transform: translateY(0px);
    opacity: 1; }
  .more-projects a {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 1.5px;
    color: #001fff;
    transition: color 0.5s ease-in-out;
    border: solid 1.5px #001fff;
    text-transform: uppercase;
    padding: 18px 26px;
    position: relative; }
    .more-projects a:hover {
      text-decoration: none;
      color: #fff; }
    .more-projects a:before {
      content: '';
      background: #001fff;
      position: absolute;
      width: 0%;
      top: 0;
      left: 0;
      height: 100%;
      transition: 0.5s linear;
      transition: 0.5s cubic-bezier(0.79, 0.01, 0.37, 0.98);
      z-index: -1; }
    .more-projects a:hover:before {
      width: 100%; }
    .more-projects a img {
      padding-left: 3px;
      margin-top: -3px; }
  @media screen and (max-width: 768px) {
    .more-projects {
      font-size: 22px;
      margin-bottom: 0;
      padding-top: 30px;
      padding-bottom: 60px; } }

.project-item {
  display: flex;
  align-items: center;
  padding: 40px 0; }
  .project-item .rectangle img {
    transition: 0s 0s; }
  .project-item.image-left h2 {
    transform: translateY(-40px);
    opacity: 0;
    transition: 0.5s; }
  .project-item.image-left .study .link-wrapper {
    transform: translateX(20px);
    opacity: 0;
    transition: 0.5s; }
  .project-item.image-left .rectangle {
    transform: translateX(-50px);
    opacity: 0;
    transition: 0.5s; }
  .project-item.image-left.active h2 {
    transform: translateY(0);
    opacity: 1;
    transition: 0.75s; }
  .project-item.image-left.active .study .link-wrapper {
    transform: translateX(0px);
    opacity: 1;
    transition: 0.75s 0.25s; }
  .project-item.image-left.active .rectangle {
    transform: translateX(0px);
    opacity: 1;
    transition: 0.75s 0.5s; }
  .project-item.image-right h2 {
    transform: translateY(-40px);
    opacity: 0;
    transition: 0.5s; }
  .project-item.image-right .study .link-wrapper {
    transform: translateX(-20px);
    opacity: 0;
    transition: 0.5s; }
  .project-item.image-right .rectangle {
    transform: translateX(50px);
    opacity: 0;
    transition: 0.5s; }
  .project-item.image-right.active h2 {
    transform: translateY(0);
    opacity: 1;
    transition: 0.75s; }
  .project-item.image-right.active .study .link-wrapper {
    transform: translateX(0px);
    opacity: 1;
    transition: 0.75s 0.25s; }
  .project-item.image-right.active .rectangle {
    transform: translateX(0px);
    opacity: 1;
    transition: 0.75s 0.5s; }
  .project-item .rectangle {
    position: relative;
    margin-bottom: 0;
    opacity: 0;
    transition: 0.5s; }
    .project-item .rectangle:after {
      content: "";
      display: block;
      padding-top: 60%; }
    .project-item .rectangle .inner-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden; }
  .project-item .study {
    padding-top: 0;
    padding-bottom: 0; }

@media (max-width: 991px) {
  .project-item {
    flex-wrap: wrap; }
    .project-item .col-md-8 {
      width: 100%; }
    .project-item .study {
      order: 2; } }
@media (max-width: 480px) {
  .project-item .study {
    text-align: center; }
    .project-item .study h2 {
      font-size: 22px;
      line-height: 35px;
      margin-top: 45px;
      margin-bottom: 22px; } }
/* Extends */
.vertically-centered, .footer-rectangle .contact, .about-header .title {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.Haas-Light, .home-header h1, .rectangle p, .believe h2, .latest-articles p, .case-study p, .behind-brand p, .services .service, .contact-header h2, .post-content p, .share-widget {
  font-family: 'Neuzeit S LT W01 Book'; }

.Haas-Bold, .more-projects a, .rectangle h2, .rectangle.hovereffect h2, .study h2, .study a, .quote h1, .quote p, .behind-brand h2, .blog-header .hero .title h2, .blog-excerpt h2 a, .blog-excerpt h2 a:hover, .blog-excerpt h2 a:focus, .read-article a, .read-article a:hover, .read-article a:focus, .post-header h2 {
  font-family: 'NeuzeitSLTW01-BookHeavy'; }

.Haas-Regular, .navbar-default .navbar-collapse .daniel-baldwin-bra p, .navbar-default .navbar-collapse .daniel-baldwin-bra a, .navbar-default .blog .navbar-nav > li > a, .navbar-default .blog .navbar-nav > li > a.active, .navbar-default .work .navbar-nav > li > a, .navbar-default .work .navbar-nav > li > a.active, .navbar-default .home .navbar-nav > li > a, .navbar-default .home .navbar-nav > li > a.active, footer .nav > li > a, span.copyright, .footer h1, .footer a, .footer a:hover, .footer a:focus, .footer-rectangle h1, .footer-rectangle .info p, .rectangle h1, .rectangle a, .rectangle a:hover, .rectangle a:focus, .rectangle.hovereffect h1, .believe p, .latest-articles h2, .latest-articles a, .latest-articles a:hover, .latest-articles a:focus, .about-header p, .about-header h2, .grey .container .col-md-6 h2, .grey .container .col-md-6 p, .images .content h3, .services .service h3, .contact-header p, .excerpt, .post-header .date, .post-header a, .share-widget a, .share-widget a:hover, .share-widget a:focus {
  font-family: 'Neuzeit S LT W01 Book';
  font-weight: normal; }

footer .nav > li > a, span.copyright, .footer h1, .footer a, .footer a:hover, .footer a:focus {
  color: #edac01; }

/* --- Footer --- */
.footer-rectangle {
  height: 500px;
  background-image: linear-gradient(253deg, #f8d602, #edac01);
  color: #fff;
  margin-bottom: 0; }
  .footer-rectangle a {
    color: #fff; }
    .footer-rectangle a:hover, .footer-rectangle a:active, .footer-rectangle a:focus {
      color: #fff;
      text-decoration: none; }
  @media screen and (max-width: 768px) {
    .footer-rectangle p {
      margin-top: 50px; } }
  .footer-rectangle .info {
    padding-left: 70px; }
    @media screen and (max-width: 768px) {
      .footer-rectangle .info {
        padding-left: 0px; } }
    .footer-rectangle .info a {
      position: relative; }
      .footer-rectangle .info a:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        border-bottom: 1px solid #fff;
        transition: 0.4s; }
      .footer-rectangle .info a:hover:after {
        width: 100%; }

footer .footer {
  text-align: center; }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    footer .footer {
      margin: 35px 0 !important; } }
  @media screen and (max-width: 1200px) {
    footer .footer.social {
      margin: 15px 0px 0px 0px !important; } }
  footer .footer.copyright {
    text-align: right; }
    @media screen and (max-width: 1200px) {
      footer .footer.copyright {
        margin: 110px 0px 30px 0px !important; } }
  footer .footer h1 {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 26px; }
  footer .footer .social {
    font-size: 18px;
    padding: 0 9px; }
    footer .footer .social i {
      transition: all .2s ease-in-out; }
      footer .footer .social i:hover {
        transform: scale(1.2); }
    footer .footer .social .fa-twitter {
      color: #1aaae2; }
    footer .footer .social .fa-linkedin {
      color: #0077b5; }
    footer .footer .social .fa-dribbble {
      color: #ec0086; }
    footer .footer .social .fa-instagram {
      color: #ec0086; }
  footer .footer .navbar-text {
    margin-top: 0;
    margin-bottom: 0; }
footer .navbar-brand {
  display: block;
  line-height: 1em;
  padding: 20px 0;
  height: auto; }
  footer .navbar-brand img {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle; }
  footer .navbar-brand .grow {
    transition: all .2s ease-in-out; }
    footer .navbar-brand .grow:hover {
      transform: scale(1.1); }
footer a.navbar-brand {
  text-align: center;
  float: none; }
  footer a.navbar-brand img {
    margin: 0 auto; }
footer .footer-bottom .row {
  display: flex;
  align-items: center; }
@media screen and (max-width: 1200px) {
  footer .navbar-right {
    float: none !important; } }
@media screen and (min-width: 768px) and (max-width: 1200px) {
  footer .navbar-right {
    float: none !important; } }
@media screen and (max-width: 1200px) {
  footer .navbar-nav {
    float: none !important; } }
@media screen and (min-width: 768px) and (max-width: 1200px) {
  footer .navbar-nav {
    float: none !important; } }
@media screen and (max-width: 1200px) {
  footer .nav > li {
    position: relative;
    display: block; } }
@media screen and (min-width: 768px) and (max-width: 1200px) {
  footer .nav > li {
    position: relative !important;
    display: block !important;
    float: none !important; } }
footer .nav > li > a {
  padding: 2px 1px;
  position: relative;
  margin-left: -15px;
  margin-right: 35px; }
  @media screen and (max-width: 1200px) {
    footer .nav > li > a {
      margin-left: 0px !important;
      padding-right: 0px !important;
      padding: 0px !important; } }
  footer .nav > li > a:focus, footer .nav > li > a:hover {
    background-color: transparent; }
  footer .nav > li > a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 1px solid #001eff;
    transition: 0.4s; }
  footer .nav > li > a:hover:after {
    width: 100%; }

@media screen and (max-width: 1200px) {
  footer .footer-bottom .row {
    display: block; }

  footer .footer.copyright {
    text-align: center; }

  footer .nav > li > a {
    margin-right: 0; }

  footer a.navbar-brand {
    padding: 0; } }
@media (max-width: 992px) {
  .container.footer-bottom {
    padding-top: 25px; } }
@media screen and (max-width: 768px) {
  .vertically-centered, .footer-rectangle .contact, .about-header .title, .footer-rectangle .contact {
    transform: none;
    top: 0; }

  .footer-rectangle {
    height: auto;
    text-align: center;
    padding: 100px 0;
    padding-bottom: 50px; }
    .footer-rectangle p {
      margin-top: 0; }

  .footer-rectangle .contact {
    top: 0;
    transform: none; }
    .footer-rectangle .contact h1 {
      margin: 0;
      font-size: 27px;
      line-height: 44px;
      margin-bottom: 50px; } }
.rectangle {
  margin-bottom: 30px;
  color: #fff;
  text-align: left;
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  cursor: default; }
  @media screen and (max-width: 992px) {
    .rectangle {
      margin-bottom: 0; } }
  .rectangle img {
    transition: all .5s ease-in-out; }
    .rectangle img:hover {
      transform: scale(1.1); }
  .rectangle h1 {
    margin-bottom: 36px;
    font-size: 38px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    letter-spacing: normal; }
  .rectangle h2 {
    margin-bottom: 36px;
    font-size: 38px;
    line-height: 1.58;
    color: #272727;
    font-style: normal;
    font-stretch: normal;
    line-height: normal; }
  .rectangle p {
    margin-bottom: 29px;
    margin-right: 20px;
    font-size: 22px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27; }
  .rectangle a, .rectangle a:hover, .rectangle a:focus {
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    color: #fff;
    position: relative;
    text-decoration: none; }
    .rectangle a:after, .rectangle a:hover:after, .rectangle a:focus:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      border-bottom: 1px solid #fff;
      transition: 0.4s; }
    .rectangle a:hover:after, .rectangle a:hover:hover:after, .rectangle a:focus:hover:after {
      width: 100%; }
  .rectangle.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    cursor: default;
    height: 425px; }
    .rectangle.hovereffect .overlay {
      width: 100%;
      height: 425px;
      position: absolute;
      overflow: hidden;
      left: 0;
      bottom: 0px;
      padding: 34px;
      text-align: left; }
      .rectangle.hovereffect .overlay h1 {
        position: absolute;
        top: 0;
        min-width: 300px; }
      .rectangle.hovereffect .overlay .bottom-left {
        position: absolute;
        bottom: 35px;
        left: 35px; }
      .rectangle.hovereffect .overlay .bottom-right {
        position: absolute;
        bottom: 35px;
        right: 35px; }
    .rectangle.hovereffect img {
      position: relative;
      width: 100%;
      transition: all 0.5s ease-in;
      opacity: 0; }
      .rectangle.hovereffect img:hover {
        transform: none !important; }
    .rectangle.hovereffect h1, .rectangle.hovereffect h2 {
      position: relative;
      overflow: hidden;
      background-color: transparent;
      transition: opacity 0.5s ease-in;
      opacity: 1; }
    .rectangle.hovereffect h1 {
      font-size: 16px; }
    .rectangle.hovereffect h2 {
      font-size: 38px;
      line-height: 1.32;
      color: #fff;
      padding-top: 50px; }
    .rectangle.hovereffect .bottom-left {
      float: left;
      text-align: left;
      text-transform: capitalize; }
    .rectangle.hovereffect .bottom-right {
      float: right;
      text-align: right; }
    .rectangle.hovereffect a, .rectangle.hovereffect a.see-case, .rectangle.hovereffect p {
      color: #FFF;
      opacity: 1;
      filter: alpha(opacity=0);
      transition: opacity 0.5s, transform 0.5s;
      transform: translate3d(-1%, 0, 0); }
    .rectangle.hovereffect:hover h1, .rectangle.hovereffect:hover h2, .rectangle.hovereffect:hover a, .rectangle.hovereffect:hover a.see-case, .rectangle.hovereffect:hover p {
      opacity: 0; }
    .rectangle.hovereffect:hover img {
      opacity: 1; }

.related {
  height: 350px !important; }

.study {
  padding: 100px 0px; }
  .study h2 {
    margin-bottom: 36px;
    font-size: 38px;
    line-height: 1.58;
    color: #272727;
    font-style: normal;
    font-stretch: normal;
    line-height: normal; }
  .study a {
    font-size: 16px; }

*:focus {
  outline: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent; }

@keyframes BodyFadeInAnimation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
body {
  margin: 0 auto;
  font-size: 16px !important;
  font-family: 'Neue Haas Unica W01 Regular' !important;
  animation: BodyFadeInAnimation 1s; }

b, strong {
  font-family: 'Neue Haas Unica W01 Heavy'; }

/* --- Loader --- */
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("/img/logo.svg") center no-repeat;
  background-size: 80px 80px; }

div.progress {
  height: 10px;
  box-shadow: none;
  border-radius: 0px; }

.progress-bar {
  transition-duration: 3s; }

/* --- Navigation --- */
.container.home, .container.blog, .container.work {
  width: 100% !important;
  padding: 0px 40px !important; }

/* --- Page Featured Work --- */
.believe {
  margin: 148px 0; }
  .believe h2 {
    font-size: 38px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    text-align: left;
    color: #000; }
  .believe p {
    margin-bottom: 0px;
    font-size: 23px;
    font-style: normal;
    font-stretch: normal;
    color: #000000; }
  @media screen and (max-width: 768px) {
    .believe {
      text-align: center;
      margin: 200px 5px; }
      .believe h2 {
        font-size: 28px;
        line-height: 1.71;
        text-align: center; }
      .believe p {
        font-size: 22px;
        line-height: 2.18; } }

.first {
  margin: 0 0 30px 0; }

.mask {
  background-color: #f6f6f6;
  margin-bottom: 171px;
  height: 400px; }

.latest-articles {
  margin-bottom: 200px; }
  .latest-articles-heading {
    padding-left: 50px !important; }
    @media screen and (max-width: 992px) {
      .latest-articles-heading {
        padding-left: 15px !important; } }
  .latest-articles .article {
    margin-bottom: 100px;
    padding-right: 0px;
    padding-left: 50px; }
    @media screen and (max-width: 992px) {
      .latest-articles .article {
        padding-right: 15px;
        padding-left: 15px; } }
    .latest-articles .article:first-child {
      padding-right: 50px;
      padding-left: 50px; }
      @media screen and (max-width: 992px) {
        .latest-articles .article:first-child {
          padding-right: 15px;
          padding-left: 15px; } }
  .latest-articles h2, .latest-articles p {
    margin-bottom: 28px;
    font-size: 22px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    color: #000000;
    transition: color 0.5s ease; }
  .latest-articles h2:hover {
    color: #edac01; }
  .latest-articles a, .latest-articles a:hover, .latest-articles a:focus {
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    color: #edac01 !important;
    border-bottom: 2px solid #edac01;
    padding-bottom: 3px;
    text-decoration: none !important; }
  @media screen and (max-width: 768px) {
    .latest-articles {
      margin-bottom: 0px; } }

.articles-border {
  background: #f6f6f6;
  width: 2px;
  height: 207px;
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-top: -20px; }
  .articles-border:nth-child(2) {
    display: none; }
  @media screen and (max-width: 990px) {
    .articles-border {
      display: none; } }

/* --- Page Case Study --- */
.case-study-head h2 {
  margin: 250px auto;
  font-size: 75px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #ffffff; }
.case-study-head .client-service {
  background-color: #fff;
  padding: 30px 50px 80px;
  margin-bottom: -20px;
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000000; }
  .case-study-head .client-service i {
    color: #fff;
    font-size: 14px;
    background-color: #edac01;
    padding: 7px; }

.case-study {
  margin-top: 80px; }
  .case-study img {
    max-width: 100%; }
  .case-study .text {
    padding: 300px 0px; }
  .case-study p {
    font-size: 22px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.73;
    color: #000000;
    padding: 20px 20%; }
    .case-study p.fake-h2 {
      margin-left: -15px;
      margin-right: -15px;
      padding-top: 100px;
      background: #edac01;
      color: #fff;
      font-size: 36px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.58;
      height: 500px;
      text-align: center; }
      .case-study p.fake-h2 span {
        font-size: 16px;
        letter-spacing: normal;
        line-height: normal; }

.quote {
  background: #edac01;
  padding: 150px 0px; }
  .quote h1 {
    color: #fff;
    text-align: center;
    font-size: 38px;
    line-height: 1.58; }
  .quote p {
    font-size: 16px;
    text-align: center;
    color: #fff;
    padding-top: 20px; }

.next-project {
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin: 60px 0px;
  padding: 0; }
  .next-project a {
    color: #edac01;
    position: relative;
    text-decoration: none;
    border-bottom: 2px solid #edac01;
    transition: 0.4s; }
    .next-project a:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      border-bottom: 2px solid #001eff;
      transition: 0.4s; }
    .next-project a:hover {
      text-decoration: none;
      color: #edac01;
      border-bottom: 0px; }
    .next-project a:hover:after {
      width: 100%; }

/* --- Page About --- */
.about-header {
  	/* background-image: url('/img/about-hero.jpg');
  	background-size: cover;
    background-position: center;
  	height: 100vh;
    width: 100%; */
  background-color: #edac01;
  color: #fff; }
  .about-header .yellow-logo {
    display: none; }
  .about-header.white {
    background: #fff; }
    .about-header.white .yellow-logo {
      display: block; }
    .about-header.white .white-logo {
      display: none; }
  .about-header .hero {
    padding: 0 !important; }
  .about-header p {
    font-size: 23px;
    font-style: normal;
    font-stretch: normal; }
  .about-header h2 {
    font-size: 38px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58; }
  .about-header .title {
    height: 200px; }
  @media screen and (max-width: 768px) {
    .about-header {
      text-align: center; }
      .about-header p {
        font-size: 22px;
        line-height: 2.18; }
      .about-header h2 {
        font-size: 28px;
        line-height: 1.71;
        text-align: center; } }

.grey {
  background-color: #f6f6f6;
  padding-top: 152px;
  padding-bottom: 218px; }
  .grey .container {
    background-color: #fff;
    padding: 0; }
    .grey .container .col-md-6 {
      padding: 0; }
      .grey .container .col-md-6 h2 {
        margin-top: 160px;
        margin-left: 45px;
        font-size: 36px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.5;
        letter-spacing: normal;
        color: #000000; }
      .grey .container .col-md-6 p {
        float: left;
        width: 39%;
        margin-left: 45px;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #000000; }

@media screen and (max-width: 992px) {
  .behind-brand {
    margin-top: 100px;
    margin-bottom: 100px; } }
.behind-brand h2 {
  font-size: 38px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  color: #001fff;
  max-width: 410px;
  margin-top: 0px;
  margin-bottom: 100px;
  padding-top: 180px; }
  @media screen and (max-width: 992px) {
    .behind-brand h2 {
      margin: 0px auto 50px auto; } }
  @media screen and (max-width: 480px) {
    .behind-brand h2 {
      max-width: none; } }
.behind-brand p {
  margin-bottom: 20px;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  color: #000000;
  max-width: 460px;
  margin: 0px auto 20px; }
  .behind-brand p:nth-child(2) {
    margin-bottom: 100px; }
.behind-brand .circle-box {
  position: relative; }
  .behind-brand .circle-box .content {
    position: absolute;
    top: 200px;
    left: 130px; }
    .behind-brand .circle-box .content p {
      color: #fff; }

.images {
  margin-bottom: 80px;
  position: relative; }
  @media screen and (max-width: 992px) {
    .images {
      margin-bottom: 100px; } }
  .images .content {
    position: absolute;
    top: 0;
    width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 86%; }
    .images .content img {
      width: 100%; }
    .images .content h3 {
      font-size: 38px;
      line-height: 1.58;
      color: #272727;
      text-align: center;
      padding-bottom: 80px; }

.services {
  margin-bottom: 300px; }
  .services h2 {
    font-size: 38px;
    line-height: 1.58;
    color: #272727;
    text-align: center; }
  @media screen and (max-width: 992px) {
    .services {
      margin-bottom: 100px; } }
  .services .border {
    border-right: solid 2px #f6f6f6; }
    @media screen and (max-width: 992px) {
      .services .border {
        border-right: none; } }
  .services .service {
    font-size: 22px;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #000000; }
    .services .service h3 {
      font-size: 13px;
      line-height: 1.27;
      margin-bottom: 40px;
      color: #edac01;
      text-transform: uppercase; }
    .services .service p {
      line-height: 1.82;
      padding-bottom: 20px; }

/* --- Contact Page --- */
.contact-header {
  background-image: linear-gradient(244deg, #f8d602, #edac01);
  color: #fff;
  height: 100vh; }
  .contact-header .yellow-logo {
    display: none; }
  .contact-header.white {
    background: #fff; }
    .contact-header.white .yellow-logo {
      display: block; }
    .contact-header.white .white-logo {
      display: none; }
  .contact-header p {
    font-size: 23px;
    font-style: normal;
    font-stretch: normal; }
  .contact-header h2 {
    margin-bottom: 36px;
    font-size: 38px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58; }
  .contact-header a, .contact-header a:hover {
    color: #fff;
    padding-bottom: 3px;
    text-decoration: none; }
  @media screen and (max-width: 800px) {
    .contact-header {
      text-align: center; }
      .contact-header p {
        font-size: 22px;
        line-height: 2.18; }
      .contact-header h2 {
        margin-bottom: 25px;
        font-size: 28px;
        line-height: 1.71; }
      .contact-header .anything-else {
        font-size: 16px;
        padding: 0 25px; }
        .contact-header .anything-else a, .contact-header .anything-else a:hover {
          border-bottom: 2px solid #fff; } }
  .contact-header .contact-information {
    padding-top: 140px; }

/* --- Blog --- */
.blog-header {
  background: #001fff; }
  .blog-header .hero {
    height: 480px;
    margin-bottom: 150px; }
    .blog-header .hero .title {
      background-color: #fff; }
      .blog-header .hero .title h2 {
        color: #001fff;
        line-height: 1.58;
        font-size: 38px;
        max-width: 1000px;
        padding: 180px 77px; }

.blog-excerpt {
  padding-bottom: 60px;
  padding-top: 60px;
  border-bottom: solid 2px #f6f6f6; }
  .blog-excerpt img {
    width: 100%; }
  .blog-excerpt h2 {
    margin-bottom: 28px;
    max-width: 800px; }
    .blog-excerpt h2 a, .blog-excerpt h2 a:hover, .blog-excerpt h2 a:focus {
      font-size: 38px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.58;
      color: #001fff;
      text-decoration: none; }
  @media screen and (max-width: 800px) {
    .blog-excerpt {
      padding-top: 90px;
      padding-bottom: 90px; }
      .blog-excerpt h2 {
        font-size: 22px; }
      .blog-excerpt .article-img {
        margin-top: 40px;
        padding-left: 0px !important;
        padding-right: 0px !important; } }
  .blog-excerpt .blog-item {
    padding: 35px 10px; }
    @media screen and (max-width: 768px) {
      .blog-excerpt .blog-item {
        padding: 35px 15px; } }

.post-content {
  padding-top: 150px;
  padding-bottom: 210px; }

.date {
  margin: 28px 0;
  color: #001fff;
  font-size: 20px; }

.excerpt {
  padding: 30px 0px;
  font-size: 22px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.73;
  color: #000000; }

.read-article a, .read-article a:hover, .read-article a:focus {
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  color: #001fff;
  text-decoration: none;
  letter-spacing: 1.5px;
  line-height: 1.69;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 0 auto; }

article img {
  width: 100%; }

/* --- Posts --- */
.post-header {
  margin-top: 105px;
  padding: 193px 90px 100px;
  background: #fff; }
  .post-header p {
    font-size: 12px;
    text-transform: uppercase; }
  .post-header .date, .post-header a {
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    color: #000; }
  .post-header i {
    font-size: 14px;
    color: #fff;
    background-color: #001fff;
    padding: 7px; }
  .post-header h2 {
    font-size: 38px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    color: #001fff;
    max-width: 1000px;
    margin-bottom: 50px; }
  @media screen and (max-width: 768px) {
    .post-header {
      margin: 100px 0 150px;
      text-align: center; }
      .post-header h2 {
        font-size: 28px;
        line-height: 1.71;
        text-align: center; } }

.post-content p {
  margin-bottom: 100px;
  font-size: 22px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.73; }
.post-content img {
  width: 100%; }
.post-content a, .post-content a:hover, .post-content a:focus {
  font-weight: 500;
  color: #edac01;
  text-decoration: none;
  border-bottom: 2px solid #edac01; }
.post-content i {
  font-weight: 500;
  color: #edac01; }
.post-content ul li {
  margin-top: -60px; }
.post-content ol, .post-content ul {
  padding-left: 20px;
  font-size: 22px;
  font-family: 'Neue Haas Unica W01 Light'; }

/* --- Share widget --- */
.share-widget {
  margin-top: 130px;
  margin-bottom: 280px;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.73; }
  .share-widget a, .share-widget a:hover, .share-widget a:focus {
    padding: 0 18px;
    font-size: 35px;
    vertical-align: middle;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.09;
    color: #000000; }
