body {
  margin: 0 auto;
  font-size: 16px !important; }

.vertically-centered, .home-header h1, .footer-rectangle .contact {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

/* --- Loader --- */
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("/img/logo.svg") center no-repeat;
  background-size: 80px 80px; }

div.progress {
  height: 10px;
  box-shadow: none;
  border-radius: 0px; }

.progress-bar {
  transition-duration: 3s; }

/* --- Navigation --- */
nav.navbar.navbar-default {
  background: transparent;
  border-color: transparent;
  border-radius: 0px; }

.home .navbar-default .navbar-nav > li > a, .about .navbar-default .navbar-nav > li > a.active, .contact .navbar-default .navbar-nav > li > a.active {
  color: #fff !important; }

.about .navbar-default .navbar-nav > li > a, .contact .navbar-default .navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.74) !important; }

.navbar-default .navbar-header {
  padding: 20px; }

.navbar-default .navbar-brand {
  float: right; }

.navbar-default .navbar-toggle {
  float: left; }

.navbar-default .navbar-nav > li > a {
  color: #fff !important; }

.navbar-default .navbar-nav > li > a.active {
  color: #edac01 !important; }

.navbar-default .navbar-brand {
  padding: 0px 0px !important; }
  .navbar-default .navbar-brand img {
    width: 43px;
    height: 43px; }
  .navbar-default .navbar-brand > li > a {
    padding-top: 35px !important; }

/* --- Home Page --- */
.home-header, .progress-bar-success {
  background-image: linear-gradient(to left, #f8d602, #edac01); }

.home-header:hover {
  background: linear-gradient(226deg, #edac01, #f8d602, #ffea00, #f8c302);
  background-size: 800% 800%;
  -webkit-animation: gradient 14s ease infinite;
  -moz-animation: gradient 14s ease infinite;
  -o-animation: gradient 14s ease infinite;
  animation: gradient 14s ease infinite; }

@-webkit-keyframes gradient {
  0% {
    background-position: 93% 0%; }
  50% {
    background-position: 0% 100%; }
  100% {
    background-position: 93% 0%; } }

@-moz-keyframes gradient {
  0% {
    background-position: 93% 0%; }
  50% {
    background-position: 0% 100%; }
  100% {
    background-position: 93% 0%; } }

@-o-keyframes gradient {
  0% {
    background-position: 93% 0%; }
  50% {
    background-position: 0% 100%; }
  100% {
    background-position: 93% 0%; } }

@keyframes gradient {
  0% {
    background-position: 93% 0%; }
  50% {
    background-position: 0% 100%; }
  100% {
    background-position: 93% 0%; } }

.home-header {
  padding-top: 30px;
  height: 100vh; }
  .home-header h1 {
    font-size: 38px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    text-align: center;
    color: #ffffff;
    max-width: 830px;
    margin: 0 auto; }
  .home-header .hero {
    height: 70vh; }

/* --- Page Featured Work --- */
.believe {
  margin: 280px 0 195px 35px; }
  .believe h2 {
    font-size: 38px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    text-align: left;
    color: #000000; }
  .believe p {
    margin-bottom: 0px;
    font-size: 23px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #000000; }

.first {
  margin: 0 0 30px 0; }

@media screen and (max-width: 990px) {
  .study {
    padding-right: 0px !important;
    padding-left: 0px !important; } }

.rectangle, .rectangle-1 {
  padding: 180px 0 40px 34px;
  color: #fff;
  text-align: left;
  margin-bottom: 30px; }
  @media screen and (max-width: 990px) {
    .rectangle, .rectangle-1 {
      margin-bottom: 0px; } }

.rectangle-2, .rectangle-3 {
  padding: 350px 0 40px 34px;
  color: #fff;
  text-align: left; }

.rectangle-4 {
  color: #656873;
  text-align: left;
  padding: 180px 0 40px 34px; }

.rectangle {
  background-image: linear-gradient(246deg, rgba(255, 214, 50, 0.98), #ffd21e); }

.rectangle-1 {
  background-image: linear-gradient(224deg, #044932, #055c3f); }

.rectangle-2 {
  background-image: linear-gradient(135deg, #1d3853, #264563); }

.rectangle-3 {
  background-image: linear-gradient(43deg, #b3c4c4, #bdcdcd); }

.rectangle-4 {
  background: rgba(186, 186, 186, 0.26);
  margin-bottom: 300px; }

.rectangle h2, .rectangle-1 h2, .rectangle-2 h2, .rectangle-3 h2, .rectangle-4 h2 {
  margin-bottom: 36px;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.93; }

.rectangle p, .rectangle-1 p, .rectangle-2 p, .rectangle-3 p, .rectangle-4 p {
  margin-bottom: 29px;
  margin-right: 20px;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27; }

.rectangle a, .rectangle-1 a, .rectangle-2 a, .rectangle-3 a, .rectangle-4 a {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  color: #fff;
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
  text-decoration: none; }

.more-projects {
  text-align: right;
  margin-top: 32px;
  margin-bottom: 270px; }
  .more-projects a {
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    color: #000; }
    .more-projects a:hover {
      color: #000;
      text-decoration: none; }

.mask {
  background-color: #f6f6f6;
  margin-bottom: 171px;
  height: 400px; }

.latest-articles {
  margin-bottom: 200px; }
  .latest-articles .article {
    margin-bottom: 100px; }
  .latest-articles h2, .latest-articles p {
    margin-bottom: 28px;
    font-size: 22px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    color: #000000; }
  .latest-articles h2 {
    font-weight: normal; }
  .latest-articles p {
    font-weight: 300; }
  .latest-articles a, .latest-articles a:hover {
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    color: #edac01;
    border-bottom: 2px solid #edac01;
    padding-bottom: 3px;
    text-decoration: none; }

.articles-border {
  margin-right: 25px;
  border-right: solid 2px #f6f6f6; }

/* --- Page About --- */
.about-helping {
  margin: -95px -15px 0;
  padding: 280px 0 280px 134px;
  background-image: url("/img/about-hero.jpg");
  background-size: cover;
  color: #fff; }
  .about-helping p {
    font-size: 23px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal; }
  .about-helping h2 {
    font-size: 38px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58; }

.behind-brand {
  margin-top: 307px;
  margin-bottom: 312px; }
  .behind-brand h2 {
    padding-right: 127px;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    color: #181818; }
  .behind-brand p {
    margin-bottom: 20px;
    padding-left: 90px;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    color: #000000; }

.rectangle-about {
  background-color: #f6f6f6;
  height: 570px;
  margin-bottom: 301px; }

.about-border {
  margin-right: -10px;
  border-right: solid 2px #f6f6f6; }

.about-rectangle {
  margin-bottom: 300px;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #000000; }
  .about-rectangle h3 {
    font-weight: normal;
    line-height: 1.27;
    margin-bottom: 40px; }
  .about-rectangle p {
    line-height: 1.82;
    padding-bottom: 20px;
    padding-right: 20px; }

/* --- Contact Page --- */
.contact-header {
  margin: -95px -15px 0;
  padding: 280px 0 280px 134px;
  background-image: linear-gradient(244deg, #f8d602, #edac01);
  color: #fff; }
  .contact-header p {
    font-size: 23px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal; }
  .contact-header h2 {
    margin-bottom: 36px;
    font-size: 38px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58; }
  .contact-header a, .contact-header a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
    text-decoration: none; }

/* --- Blog --- */
.blog-excerpt {
  /* padding-left: 78px !important; */
  padding-bottom: 190px;
  padding-top: 180px;
  border-bottom: solid 2px #f6f6f6; }
  .blog-excerpt h2 {
    margin-bottom: 28px; }
    .blog-excerpt h2 a, .blog-excerpt h2 a:hover {
      font-size: 22px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.27;
      color: #edac01;
      text-decoration: none; }

.date {
  margin: 28px 0; }

.img-responsive {
  height: 353px;
  background-color: #000; }

.excerpt {
  margin-bottom: 52px;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  color: #000000; }

.date, .read-article a, .read-article a:hover {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #000000;
  text-decoration: none; }

/* --- Posts --- */
.post-header {
  margin: 205px 0 290px 35px; }
  .post-header .date {
    font-size: 23px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal; }
  .post-header h2 {
    font-size: 38px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58; }

.post-content p {
  margin-bottom: 100px;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.73; }

.post-content a, .post-content a:hover {
  font-weight: 500;
  color: #edac01;
  text-decoration: none;
  border-bottom: 2px solid #edac01; }

.post-content i {
  font-weight: 500;
  color: #edac01; }

.post-content ul li {
  margin-top: -60px; }

/* --- Share widget --- */
.share-widget {
  margin-top: 130px;
  margin-bottom: 280px;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.73; }
  .share-widget a, .share-widget a:hover {
    padding: 0 18px;
    font-size: 35px;
    vertical-align: middle;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.09;
    color: #000000; }

/* --- Footer --- */
.footer-rectangle {
  margin-bottom: 36px;
  height: 500px;
  background-image: linear-gradient(to left, #f8d602, #edac01);
  color: #fff; }
  .footer-rectangle:hover {
    background: linear-gradient(226deg, #edac01, #f8d602, #ffea00, #f8c302);
    background-size: 800% 800%;
    -webkit-animation: footer-gradient 14s ease infinite;
    -moz-animation: footer-gradient 14s ease infinite;
    -o-animation: footer-gradient 14s ease infinite;
    animation: footer-gradient 14s ease infinite; }

@-webkit-keyframes footer-gradient {
  0% {
    background-position: 93% 0%; }
  50% {
    background-position: 0% 100%; }
  100% {
    background-position: 93% 0%; } }

@-moz-keyframes footer-gradient {
  0% {
    background-position: 93% 0%; }
  50% {
    background-position: 0% 100%; }
  100% {
    background-position: 93% 0%; } }

@-o-keyframes footer-gradient {
  0% {
    background-position: 93% 0%; }
  50% {
    background-position: 0% 100%; }
  100% {
    background-position: 93% 0%; } }

@keyframes footer-gradient {
  0% {
    background-position: 93% 0%; }
  50% {
    background-position: 0% 100%; }
  100% {
    background-position: 93% 0%; } }
  .footer-rectangle h1 {
    font-weight: normal; }
  @media screen and (max-width: 990px) {
    .footer-rectangle p {
      margin-top: 50px; } }
  .footer-rectangle .info {
    padding-left: 70px; }
    @media screen and (max-width: 990px) {
      .footer-rectangle .info {
        padding-left: 0px; } }

@media screen and (max-width: 1200px) {
  footer .footer {
    text-align: center; } }

footer .navbar-brand img {
  width: 40px;
  height: 40px;
  margin-top: -15px !important; }

footer a.navbar-brand {
  text-align: center;
  float: none; }
  footer a.navbar-brand img {
    margin: 0 auto; }

@media screen and (max-width: 1200px) {
  footer .navbar-right {
    float: none !important; } }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  footer .navbar-right {
    float: none !important; } }

@media screen and (max-width: 1200px) {
  footer .navbar-nav {
    float: none !important; } }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  footer .navbar-nav {
    float: none !important; } }

@media screen and (max-width: 1200px) {
  footer .nav > li {
    position: relative;
    display: block; } }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  footer .nav > li {
    position: relative !important;
    display: block !important;
    float: none !important; } }

footer .nav > li > a {
  padding-left: 0;
  margin-left: -15px;
  padding-right: 35px; }
  @media screen and (max-width: 1200px) {
    footer .nav > li > a {
      margin-left: 0px !important;
      padding-right: 0px !important;
      padding: 0px !important; } }
  footer .nav > li > a:focus, footer .nav > li > a:hover {
    background-color: transparent; }

footer .nav > li > a, span.copyright {
  color: #edac01; }
