      {% if page.path contains '_case-study' %}
          <div class="container">
            <div class="row more-case">
              <div class="col-md-6 study">
                <div class="rectangle-2 hovereffect">
                  <img class="lazy" data-src="http://lorempixel.com/g/570/353/nightlife" alt="">
                  <div class="overlay">
                  <h2>TINT</h2>
                  <p>Defining a brand experience for an<br> established startup</p>
                  <a href="">See Case Study</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 study">
                <div class="rectangle-3 hovereffect">
                  <img class="lazy" data-src="http://lorempixel.com/g/570/353/people" alt="">
                  <div class="overlay">
                  <h2>Twelve23</h2>
                  <p>Rebranding a web solutions company<br> into a creative agency</p>
                  <a href="">See Case Study</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      {% else %}
      <div class="container case-studies">
        <div class="row">
          <div class="col-md-8 study">
            <div class="rectangle hovereffect">
              <img class="lazy" data-src="http://lorempixel.com/g/790/400/city" alt="">
              <div class="overlay">
              <h2>Powercity Films</h2>
              <p>Developing an identity for a storytelling<br> film company</p>
              <a href="">See Case Study</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 study">
            <div class="rectangle-1 hovereffect">
              <img class="lazy" data-src="http://lorempixel.com/g/400/400/business" alt="">
              <div class="overlay">
              <h2>Cole & Oak</h2>
              <p>Lorem ipsum dolor sit amet ipsum amet sit lorem</p>
              <a href="">See Case Study</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 study">
            <div class="rectangle-2 hovereffect">
              <img class="lazy" data-src="http://lorempixel.com/g/600/570/nightlife" alt="">
              <div class="overlay">
              <h2>TINT</h2>
              <p>Defining a brand experience for an<br> established startup</p>
              <a href="">See Case Study</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 study">
            <div class="rectangle-3 hovereffect">
              <img class="lazy" data-src="http://lorempixel.com/g/600/570/people" alt="">
              <div class="overlay">
              <h2>Twelve23</h2>
              <p>Rebranding a web solutions company<br> into a creative agency</p>
              <a href="">See Case Study</a>
              </div>
            </div>
          </div>
        {% if page.url == "/featured/" %}
          <div class="col-md-12 study">
            <div class="rectangle-4 hovereffect">
              <img class="lazy" data-src="http://lorempixel.com/g/1170/400/people" alt="">
              <div class="overlay">
              <h2>Iconography</h2>
              <p>Lorem ipsum dolor sit amet ipsum sit amet lorem</p>
              <a href="">See Work</a>
              </div>
            </div>
          </div>
        {% else %}
          <div class="col-md-12">
            <div class="more-projects">
              <a href="/featured">See More Projects &#8594;</a>
            </div>
          </div>
        {% endif %}
        </div>
       </div>
       {% endif %}