<footer>
	<div class="container footer-rectangle">
		<div class="row contact">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="info">
					<p>Let’s work together</p>
					<a href="mailto:danielbaldwinco@gmail.com"><h1>hello@danielbaldwin.co</h1></a>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="info">
					<p>Let’s talk design</p>
					<a href="http://www.twitter.com/danielbaldwinco" target="_blank"><h1>@danielbaldwinco</h1></a>
				</div>
			</div>
		</div>
	</div>
  <div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12 hidden-sm hidden-xs footer">
    	<ul class="nav navbar-nav">
            <li><a href="/work/" {% if page.url == "/work/" %}class="active"{% endif %}>Featured Work</a></li>
            <li><a href="/about/" {% if page.url == "/about/" %}class="active"{% endif %}>About</a></li>
            <li><a href="/blog/" {% if page.url == "/blog/" %}class="active"{% endif %}>Blog</a></li>
            <li><a href="/contact/" {% if page.url == "/contact/" %}class="active"{% endif %}>Contact</a></li>
        </ul>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 footer">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img class="grow" alt="{{ site.title }}" src="{{ site.baseurl }}/img/logo.svg">
        </a>
        </div>
        <div class="hidden-lg hidden-md col-sm-12 col-xs-12 footer social">
        <h1>Daniel Baldwin</h1>
            <a class="social" href="http://www.twitter.com/danielbaldwinco" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a class="social" href="http://linkedin.com/in/danielbaldwincohttp://www.twitter.com/danielbaldwinco" rel="nofollow" target="_blank" title="Share on Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class="social" href="" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 footer copyright">
            <a class="social hidden-sm hidden-xs" href="http://www.twitter.com/danielbaldwinco" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a class="social hidden-sm hidden-xs" href="http://linkedin.com/in/danielbaldwincohttp://www.twitter.com/danielbaldwinco" rel="nofollow" target="_blank" title="Share on Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class="social hidden-sm hidden-xs" href="" rel="nofollow" target="_blank" title="Share on Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
            <a class="social hidden-sm hidden-xs" href="" rel="nofollow" target="_blank" title="Share on Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <span class="copyright navbar-text navbar-right">Copyright &copy; {{ 'now' | date: "%Y" }}</span>
        </div>
    </div>
  </div>

</footer>
