<footer>
  <div class="container footer-bottom">
    <div class="row">
				<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 footer footer-logo-wrapper">
					<a class="navbar-brand" href="{{ site.baseurl }}/">
							<img class="grow" alt="{{ site.title }}" src="{{ site.baseurl }}/img/logo.svg">
					</a>
				</div>			
        <div class="col-lg-4 col-md-12 footer footer-nav-wrapper">
	    		<ul class="nav navbar-nav">
	            <li><a href="/work/">Work</a></li>
    			<li><a href="/about/">About</a></li>
      			<li><a href="mailto:hello@danielbaldwin.co">hello@danielaldwin.co</a></li>
	        </ul>
        </div>
        <div class="hidden-xs hidden-lg hidden-md col-sm-12 col-xs-12 footer social">
        	<h1>Daniel Baldwin</h1>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 footer copyright">
						<div class="footer-social-icons">
            	<a class="social" href="http://www.twitter.com/danielbaldwinco" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            	<a class="social" href="http://linkedin.com/in/danielbaldwinco" rel="nofollow" target="_blank" title="Share on Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            	<a class="social" href="https://dribbble.com/danielbaldwin" rel="nofollow" target="_blank" title="Follow on Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
            	<a class="social" href="https://www.instagram.com/danielbaldwin/" rel="nofollow" target="_blank" title="Follow on Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          	</div>  
						<span class="copyright navbar-text navbar-right">Copyright &copy; {{ 'now' | date: "%Y" }}</span>
        </div>
    </div>
  </div>
  
</footer>
