{% if page.title == 'Blog' or page.path contains '_posts' %}
<nav class="blog">
{% elsif page.title == 'Featured Work' or page.path contains '_work' %}
<nav class="work">
{% elsif page.title == 'About' or page.path contains '_about' %}
<nav class="about">  
{% elsif page.title == 'Contact' or page.path contains '_contact' %}
<nav class="contact">  
{% elsif page.title == 'Blog' or page.path contains '_blog' %}
<nav class="blog">      
{% else %}
<nav class="home">
{% endif %}	
  
  <div class="nav-outter-wrapper">
  
  <div class="nav-inner-wrapper">
  
  	<div class="container">
  	
      <span class="blog-name">Daniel Baldwin</span>
    
  		<button type="button" class="c-hamburger c-hamburger--htx">
  				<span>toggle menu</span>
  		</button>	
  		

  		<a class="nav-logo" href="{{ site.baseurl }}/">
  				{% if page.title == 'Featured Work' or page.path contains '_work' %}
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
          <path fill="#EEAD00" d="M250.6,8C117.2,8,8.6,116.6,8.6,250s108.6,242,242,242c133.4,0,242-108.6,242-242S384.1,8,250.6,8z
             M458.4,233.2h-191v-191C369,50.4,450.2,131.6,458.4,233.2z M42.2,250c0-109.3,84.5-199.2,191.6-207.7V250c0,0,0,0,0,0s0,0,0,0
            v207.7C126.7,449.2,42.2,359.3,42.2,250z M267.4,457.7v-191h191C450.2,368.3,369,449.6,267.4,457.7z"/>
          </svg>
  				{% else %}
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
          <path fill="#fff" d="M250.6,8C117.2,8,8.6,116.6,8.6,250s108.6,242,242,242c133.4,0,242-108.6,242-242S384.1,8,250.6,8z
             M458.4,233.2h-191v-191C369,50.4,450.2,131.6,458.4,233.2z M42.2,250c0-109.3,84.5-199.2,191.6-207.7V250c0,0,0,0,0,0s0,0,0,0
            v207.7C126.7,449.2,42.2,359.3,42.2,250z M267.4,457.7v-191h191C450.2,368.3,369,449.6,267.4,457.7z"/>
          </svg>
  				{% endif %}
  		</a>
  		
  		<div class="nav-right-wrapper">
        <ul class="nav-right">
    			<li><a href="/about/" {% if page.url == "/about/" %}class="active"{% endif %}>About</a></li>
          <li><a href="mailto:hello@danielbaldwin.co">hello@danielaldwin.co</a></li>
          <li class="social-media mobile">
            <a class="social" href="https://www.instagram.com/danielbaldwin/" rel="nofollow" target="_blank" title="Follow on Instagram"><i class="fa fa-instagram"></i></a>
            <a class="social" href="http://www.twitter.com/danielbaldwinco" rel="nofollow" target="_blank" title="Follow on Twitter"><i class="fa fa-twitter"></i></a>
      			<a class="social" href="http://linkedin.com/in/danielbaldwinco" rel="nofollow" target="_blank" title="Follow on Linkedin"><i class="fa fa-linkedin"></i></a>		
          </li>  
    		</ul>
      </div>
  	
  	</div>
	
  </div>
  
  </div>
  
</nav>	
