/* --- Home Page --- */
.hero {
  //height: 70vh;
}
.progress-bar-success {
  background-image: linear-gradient(to left, #f8d602, #edac01);
}
.home-header {
  //background-color: #f6f6f6;
  position: relative;
  //margin-bottom: 150px;
  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #f6f6f6;
    transition: 0.75s;
  }
  header {
    padding-top: 30px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    @media screen and (max-width: 768px) {
      padding-top: 0;
    }
  }

  h1 {
    font-size: 60px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: #ffffff;
    margin: 0 auto;
    span{
      display: block;
      transform: translateY(40px);
      opacity: 0;
      transition: 0.75s;
    }
    @extend .Haas-Light;

    @media screen and (max-width: 768px) {
      font-size: 28px;
    }
  }

  .hero-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    .container{
      position: relative;
      z-index: 3;
    }
    /*position: absolute;
    top: 295px;
    left: 100px;*/
  }

  .yellow-logo {
    display: none;
  }

  &.white {
    background: #fff;

    .yellow-logo {
      display: block;
    }
    .white-logo {
      display: none;
    }
  }
}

.loaded{
  .home-header{
    h1{
      span:nth-of-type(1){
        transform: translateY(0%);
    		opacity: 1;
    		transition: 0.75s 1.5s;
      }
      span:nth-of-type(2){
        transform: translateY(0%);
    		opacity: 1;
    		transition: 0.75s 1.75s;
      }
    }
    &:after{
      width: 100%;
      transition: 0.75s 0.25s;
    }
  }
}


.db-icon{
  padding-top: 50vh;
  padding-bottom: 100px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-top: -10vh;
  //background: #fff;
  //position: absolute;
  //bottom: 0;
  //left: 50%;
  //transform: translateX(-50%);
  //width: 100%;
  .circle-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(20%);    
    transition: 0.75s;
    height: 100px;
  }
  .circle{
    position: absolute;
    top: 0%;
    left: -15%;
    width: 130%;
    background: #fff;
    border-radius: 50%;
    //transform: translateY(20%);    
    //transition: 0.75s;
    transition: 0s;
    &:after{
      content: "";
      display: block;
      padding-top: 100%;
    }
  }
  .db-icons {
    margin: 0 auto;
    text-align: center;
    width: 770px;
    max-width: 100%;
    h3 {
      font-size: 13px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.69;
      letter-spacing: 1.5px;
      text-align: center;
      text-transform: uppercase;
      color: #edac01;
      transform: translateY(20px);
      opacity: 0;
      transition: 0.5s;     
      margin-top: 0; 
    }
    .icon{
      width: 20%;
      float: left;
    }
    .svg {
      max-width: 110px;
      display: block;
      margin: 0 auto;
      transform: translateX(-30px);
      opacity: 0;
      transition: 0.5s;
    }
    &.active{
      .icon-1{
        .svg{
          transform: translateX(0px);
          opacity: 1;          
          transition: 0.7s 0s;
        }
        h3{
          transform: translateY(0px);
          opacity: 1;          
          transition: 0.7s 0.3s;          
        }
      }
      .icon-2{
        .svg{
          transform: translateX(0px);
          opacity: 1;          
          transition: 0.7s 0.5s;
        }
        h3{
          transform: translateY(0px);
          opacity: 1;          
          transition: 0.7s 0.6s;          
        }        
      }
      .icon-3{
        .svg{
          transform: translateX(0px);
          opacity: 1;          
          transition: 0.7s 1s;
        }
        h3{
          transform: translateX(0px);
          opacity: 1;          
          transition: 0.7s 0.9s;          
        }         
      }
      .icon-4{
        .svg{
          transform: translateX(0px);
          opacity: 1;          
          transition: 0.7s 1.5s;
        }
        h3{
          transform: translateY(0px);
          opacity: 1;          
          transition: 0.7s 1.2s;          
        }         
      }
      .icon-5{
        .svg{
          transform: translateX(0px);
          opacity: 1;          
          transition: 0.7s 2s;
        }
        h3{
          transform: translateY(0px);
          opacity: 1;          
          transition: 0.7s 1.5s;          
        }         
      }       
    }               
  }
}

.loaded{
  .db-icon{
    .circle-wrapper{
      transform: translateY(0);
    }
  }
}



.hero-circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //overflow: hidden;
  .circle-1{
    width: 70vw;
    position: absolute;
    top: -20vw;
    left: -4vw;
    z-index: 2;
    transform: translate(-20%, -20%);
    opacity: 0;
    transition: 0.75s;
    &:after{
      content: "";
      display: block;
      padding-top: 100%;      
    }
    div{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #edac01;
      border-radius: 50%; 
      transition: 0.1s;     
    }
  }
  .circle-2{
    //background-color: #001eff;
    border-radius: 50%;
    width: 60vw;
    position: absolute;
    right: -30vw;
    top: -35vw;
    transform: translate(20%, 20%);
    opacity: 0;
    transition: 0.75s;
    z-index: 2;
    &:after{
      content: "";
      display: block;
      padding-top: 100%;
    }
    div{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #001eff;
      border-radius: 50%;  
      transition: 0.1s;    
    }    
  }
}

@media screen and ( min-width: 1024px ) and ( max-width: 1200px ){
  .hero-circles .circle-1{
    width: 80%;  
  }
  .hero-circles .circle-2{
    width: 70%;
    z-index: 3;
  }
}

@media screen and ( min-width: 480px ) and ( max-width: 1023px ){
  .hero-circles .circle-1{
    top: -30vw;
    left: -15vw; 
    width: 110%;
  }
  .hero-circles .circle-2{
    width: 60%;
    right: -30vw;
    top: -30vw;
    z-index: 3;
  }
}

@media screen and ( min-width: 1px ) and ( max-width: 480px ){
  .hero-circles .circle-1{
    top: -20%;
    left: -15vw;
    width: 100vh;
    left: -50%;
  }
  .hero-circles .circle-2{
    width: 60%;
    right: -30vw;
    top: -30vw;
    z-index: 3;
  }
}


.loaded{
  .hero-circles{
    .circle-1{
      transform: translate(0%, 0%);
      opacity: 1;
      transition: 0.75s 1s;
    }
    .circle-2{
      transform: translate(0%, 0%);
      opacity: 1;
      transition: 0.75s 1.25s;
    }

  }
}




#home{
  overflow: hidden;
}


.more-projects {
	text-align: center;
	//margin-top: 32px;
	//margin-bottom: 130px;
  padding: 100px 0 130px 0;
  .button-wrapper{
    transform: translateY(40px);
    opacity: 0;
    transition: 0.5s;
  }
  &.active{
    .button-wrapper{
      transform: translateY(0px);
      opacity: 1;        
    }    
  }  
	a {
    display: inline-block;
    vertical-align: top;
  	font-size: 13px;
    line-height: 22px;
    letter-spacing: 1.5px;
    color: #001fff;
    transition: color 0.5s ease-in-out;
    border: solid 1.5px #001fff;
    @extend .Haas-Bold;
    text-transform: uppercase;
    padding: 18px 26px;
    position: relative;

    &:hover {
      text-decoration: none;
      color: #fff;
    }
    &:before {
    content:'';
    background: #001fff;
    position:absolute;
    width:0%;
    top:0;
    left:0;
    height:100%;
    transition: 0.5s linear;
    transition: 0.5s cubic-bezier(0.79, 0.01, 0.37, 0.98);
    z-index:-1;
    }
    &:hover:before {
        width:100%;
    }

    img {
      padding-left: 3px;
      margin-top: -3px;
    }
	}
  @media screen and (max-width: 768px) {
    font-size: 22px;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 60px;
  }
}


  @media screen and (max-width: 768px) {  
    
    .db-icon .db-icons h3{
      display: none;
    }
    
  }