footer .nav>li>a, span.copyright, .footer h1, .footer a, .footer a:hover, .footer a:focus {
	color: #181818;
  @extend .Haas-Regular;
}

/* --- Footer --- */
.footer-rectangle {
	height: 500px;
	//background-image: linear-gradient(253deg, #f8d602, #181818);
	color: #fff;
  margin-bottom: 0;
	position: relative;
	
	.footer-background{
		
		background-image: linear-gradient(253deg, #f8d602, #181818);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: translateX(-100%);
		transition: 0.5s;
		
	}
	
	.footer-rectangle-left,
	.footer-rectangle-right{
		
		p, h1{
			
			transform: translateY(30px);
			opacity: 0;
			transition: 0.5s;
			
		}
		
	}
	
	
	
  a {
    color: #fff;
    &:hover, &:active, &:focus {
      color: #fff;
      text-decoration: none;
    }
  }

  h1 {
    @extend .Haas-Regular;
  }

  p {
    @media screen and (max-width: 768px) {
      margin-top: 50px;
    }
  }

  .info {
    padding-left: 70px;
    @media screen and (max-width: 768px) {
      padding-left: 0px;
    }
    p {
      @extend .Haas-Regular;
    }
    a {
      position: relative;
      &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          border-bottom: 1px solid #fff;
          transition: 0.4s;
        }
        &:hover:after {
          width: 100%;
        }
      }
  }

  .contact {
    @extend .vertically-centered
  }
	
	
	&.active{
		
		.footer-background{
			transform: translateX(0);
			transition: 0.5s;
		}
		
		.footer-rectangle-left{
			
			p{
				transform: translateY(0);
				opacity: 1;
				transition: 0.5s 0.5s;							
			}
			
			h1{
				transform: translateY(0);
				opacity: 1;
				transition: 0.5s 0.65s;				
			}
			
		}
		
		.footer-rectangle-right{

			p{
				transform: translateY(0);
				opacity: 1;
				transition: 0.5s 0.75s;							
			}
			
			h1{
				transform: translateY(0);
				opacity: 1;
				transition: 0.5s 0.85s;				
			}
			
		}
		
	}
	
}



footer {

  .footer {
    text-align: center;
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      margin: 35px 0 !important;
    }
    &.social {
      @media screen and (max-width: 1200px) {
        margin: 15px 0px 0px 0px !important;
      }
    }
    &.copyright {
			text-align: right;
      @media screen and (max-width: 1200px) {
        margin: 110px 0px 30px 0px !important;
      }
    }
    h1 {
      font-size: 26px;
      margin-top: 0;
      margin-bottom: 26px;
    }
    .social {
			font-size: 18px;
	    padding: 0 9px;
      i {
        transition: all .2s ease-in-out;
        &:hover { transform: scale(1.2); }
      }
      .fa-twitter {
        color: #1aaae2;
      }
      .fa-linkedin {
        color: #0077b5;
      }
      .fa-dribbble {
        color: #ec0086;
      }
      .fa-instagram {
        color: #ec0086;
      }
    }
    .navbar-text {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .navbar-brand {
		display: block;
    line-height: 1em;
    padding: 20px 0;	
		height: auto;	
    img {
      width: 40px;
      height: 40px;
			display: inline-block;
			vertical-align: middle;
    }
    .grow { transition: all .2s ease-in-out;
      &:hover { transform: scale(1.1); }
    }
  }
  a.navbar-brand {
    text-align: center;
    float: none;
    img {
      margin: 0 auto;
    }
  }
	
	.footer-bottom .row{
		display: flex;
		align-items: center;
		.footer-nav-wrapper{
			order: 0;
		}
		.footer-logo-wrapper{
			order: 1;
		}
		.footer.copyright{
			order: 2;
		}
	}


  .navbar-right {
    @media screen and (max-width: 1200px){
      float: none !important;
    }

    @media screen and (min-width: 768px) and (max-width: 1200px){
      float: none !important;
    }
  }

  .navbar-nav {
    @media screen and (max-width: 1200px){
      float: none !important;
    }

    @media screen and (min-width: 768px) and (max-width: 1200px){
      float: none !important;
    }
  }

  .nav>li {
     @media screen and (max-width: 1200px){
      position: relative;
      display: block;
    }

    @media screen and (min-width: 768px) and (max-width: 1200px){
      position: relative !important;
      display: block !important;
      float: none !important;
    }
  }
  .nav>li>a {
    padding: 2px 1px;
    position: relative;
    margin-left: -15px;
    margin-right: 35px;

    @media screen and (max-width: 1200px) {
      margin-left: 0px !important;
      padding-right: 0px !important;
      padding: 0px !important;
    }

    &:focus, &:hover {
      background-color:transparent;
    }
    &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          border-bottom: 1px solid #181818;
          transition: 0.4s;
        }
        &:hover:after {
          width: 100%;
        }
  }
}



@media screen and (max-width: 1200px) {
	footer .footer-bottom .row{
		display: block;
	}
	footer .footer.copyright{
		text-align: center;
	}
	footer .nav > li > a{
		margin-right: 0;
	}
	footer a.navbar-brand{
		padding: 0;
	}
	.footer-nav-wrapper{
		display: none;
	}
}


.footer-social-icons{
	display: inline;
}


@media (max-width: 992px){
	.container.footer-bottom{
		padding-top: 25px;
	}
}


@media screen and (max-width: 768px) {
	.vertically-centered, .footer-rectangle .contact{
			transform: none;
			top: 0;
		}
		.footer-rectangle{
			height: auto;
			text-align: center;
			padding: 100px 0;
			padding-bottom: 50px;
			p{
				margin-top: 0;
			}
		}
		.footer-rectangle .contact{
			top: 0;
			transform: none;
			h1{
				margin: 0;
				font-size: 27px;
				line-height: 44px;		
				margin-bottom: 50px;	
			}			
		}
		footer{
			.footer.copyright{
				margin: 0 !important;
				padding-bottom: 40px;
			}
			.footer{
				float: none;
				.nav{
					padding-top: 68px;
					margin: 0;
				}
			}
		}
		.footer-social-icons{
			display: block;
			padding-bottom: 58px;
	    padding-top: 30px;			
		}
		
		footer .nav > li{
			display: inline-block;
	    vertical-align: top;
	    font-size: 16px;
	    padding: 0 10px;			
		}

		.footer-nav-wrapper{
			display: block;
		}		
		
}		