nav.navbar .container{
	transform: translateY(-100%);
	opacity: 0;
	transition: 0.75s;
}


.loaded{
	nav.navbar .container{
		transform: translateY(0%);
		opacity: 1;
		transition: 0.75s 1.25s;
	}
}



nav.navbar.navbar-default {
	background: transparent;
	border-color: transparent;
	border-radius: 0px;
}
nav#navb.navbar-fixed-top {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  .daniel-baldwin-bra {
    display: none;
  }
  .nav>li>a {
    color: #000 !important;
    position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        border-bottom: 1px solid #001eff;
        transition: 0.4s;
      }
      &:hover:after {
        width: 100%;
      }
      &.active {
        border-bottom: 1px solid #edac01;
      }
  }
}
.navbar-default {
	z-index: 10;
  .navbar-header {
    @media screen and (max-width: 768px) {
      padding-top: 35px;
    }
  }
  .nav>li>a {
      margin: 10px 30px 10px 0;
      padding: 2px 1px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        border-bottom: 1px solid #fff;
        transition: 0.4s;
      }
      &:hover:after {
        width: 100%;
      }
      &.active {
        border-bottom: 1px solid #fff;
      }
  }
  .navbar-brand {
    .grow { transition: all .2s ease-in-out;
      &:hover { transform: scale(1.1); }
    }
    &.navbar-right {
      float: right;
      margin-right: 0px !important;
    }
  }
  .navbar-float-none {
    margin-left: 0 !important;
    float: none !important;
    left: calc(50% - 21.5px);
    position: absolute;
  }
  .navbar-toggle {
    float: left;
  }
  .navbar-collapse {
    padding-left: 0 !important;
    padding-right: 0 !important;
    .daniel-baldwin-bra {
      p {
        margin-bottom: 0;
      }
      p, a {
          @extend .Haas-Regular;

          font-size: 16px;
          line-height: 1.38;
          color: #ffffff;
      }
      a {
        position: relative;
        text-decoration: none;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          border-bottom: 1px solid #001eff;
          transition: 0.4s;
        }
        &:hover:after {
          width: 100%;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .navbar-collapse {
      border-color: transparent !important;
      box-shadow: none !important;
      margin: 0 auto;
      .navbar-nav>li {
        text-align: center;
        &>a {
          font-size: 28px;
          line-height: 2.83;
          font-family:'Neue Haas Unica W01 Heavy';
          padding: 10px 0px;
          &.active {
            font-family:'Neue Haas Unica W01 Heavy';
          }
        }
      }
    }
  }
  .home .navbar-toggle {
    border-color: transparent !important;
    margin-top: 0px;
    .icon-bar {
      height: 3px;
      background-color: #fff !important;
    }
    &:hover, &:focus {
      background-color: transparent !important;
      .icon-bar {
        background-color: #edac01 !important;
      }
    }
  }
  .blog .navbar-toggle {
    border-color: transparent !important;
    margin-top: 0px;
    .icon-bar {
      height: 3px;
      background-color: #edac01 !important;
    }
    &:hover, &:focus
     {
      background-color: #fff !important;
      .icon-bar {
        background-color: #edac01 !important;
      }
    }
  }
  .blog .navbar-nav>li>a {
    color: #fff !important;
    @extend .Haas-Regular;
  }
  .blog .navbar-nav>li>a.active {
    color: #fff !important;
    @extend .Haas-Regular;
  }
  .work .navbar-nav>li>a {
    color: #000 !important;
    @extend .Haas-Regular;
    &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          border-bottom: 1px solid #edac01;
          transition: 0.4s;
        }
        &:hover:after {
          width: 100%;
        }
  }
  .work .navbar-nav>li>a.active {
    color: #000 !important;
    border-bottom: 1px solid #edac01;
    @extend .Haas-Regular;
  }
  .home .navbar-nav>li>a, .home .navbar-nav>li>a.active {
    color: #fff !important;
    @extend .Haas-Regular;
  }
  .navbar-default [aria-expanded="true"] {
    background: #fff !important;
  }
  .home [aria-expanded="true"] {
    background: transparent !important;
    .icon-bar {
      height: 3px;
      background-color: #edac01 !important;
    }
    &:hover {
      background-color: transparent !important;
      .icon-bar {
        background-color: #edac01 !important;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .home .navbar-collapse .navbar-nav>li>a, .blog .navbar-collapse .navbar-nav>li>a, .social {
      color: #edac01 !important;
    }
  }
  .social {
      font-size: 30px;
      padding: 0 13px;
    }
  .navbar-brand {
    padding: 0px 0px !important;
    @media screen and (max-width: 768px) {
      padding: 5px 0px !important;
    }

    img {
      width: 43px;
      height: 43px;
      margin-right: 5px;
    }

    &>li>a {
      padding-top: 35px !important;
    }
  }
}
