.rectangle {
  margin-bottom: 30px;
  color: #fff;
  text-align: left;
  @media screen and (max-width: 992px) {
    margin-bottom: 0;
  }
  h1 {
    margin-bottom: 36px;
    font-size: 38px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    letter-spacing: normal;

    @extend .Haas-Regular;
  }
  h2 {
    margin-bottom: 36px;
    font-size: 38px;
    line-height: 1.58;
    color: #272727;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;

    @extend .Haas-Bold;
  }
  p {
    margin-bottom: 29px;
    margin-right: 20px;
    font-size: 22px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;  

    @extend .Haas-Light;
  }
  a, a:hover, a:focus {
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    color: #fff;
    position: relative;
    text-decoration: none;

    @extend .Haas-Regular;
    &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          border-bottom: 1px solid #fff;
          transition: 0.4s;
        }
        &:hover:after {
          width: 100%;
        }
  }
}
.related {
  height: 350px !important;
}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  cursor: default;
  .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    bottom: 5%;
    padding: 34px;
    text-align: left;
    @media screen and (max-width: 768px) {
      top: 10%;
    }
  }
  img {
    display: block;
    position: relative;
    width: 100%;
    transition: opacity 0.5s ease-in;
  }
  h1, h2 {
    position: relative;
    overflow: hidden;
    background-color: transparent;
  }
  .bottom-left {
    float: left;
    text-align: left;
    text-transform: capitalize;
  }
  .bottom-right {
    float: right;
    text-align: right;
  }
  a, a.see-case, p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity 0.35s, transform 0.5s;
    transform: translate3d(-1%,0,0);
    @media screen and (max-width: 992px) {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }
}
.study {
  padding: 100px 0px;
  h2 {
    margin-bottom: 36px;
    font-size: 38px;
    line-height: 1.58;
    color: #272727;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;

    @extend .Haas-Bold;
  }

  a {
    font-size: 16px;

    @extend .Haas-Bold;
  }
}