@import "components.hamburger";
@import "components.animation";
@import "components.navbar";
@import "components.homepage";
@import "components.homepage-studies";
@import "variables";
@import "components.footer";
@import "components.page-casestudy";
@import "components.page-about";
@import "components.blog";
@import "components.contact";
@import "featured-work";

*:focus {
  outline: none;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}

@keyframes BodyFadeInAnimation {
from {opacity: 0;}
to {opacity: 1;}
}

body {
  margin: 0 auto;
  font-size: 16px !important;
  font-family:'Neue Haas Unica W01 Regular' !important;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  animation: BodyFadeInAnimation 1s;
}
b, strong {
  font-family:'Neue Haas Unica W01 Heavy';
}
/* --- Loader --- */
#loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
  .loading-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;    
    animation: iconPulse 2s infinite;
  }
}

@keyframes iconPulse{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

div.progress {
	height: 10px;
	box-shadow: none;
	border-radius: 0px;
}
.progress-bar {
  transition-duration: 3s;
}

.first {
	margin: 0 0 30px 0;
}

.mask {
	background-color: #f6f6f6;
	margin-bottom: 171px;
	height: 400px;
}
.latest-articles {
	margin-bottom: 200px;

  &-heading {
    padding-left: 50px !important;
    @media screen and (max-width: 992px) {
      padding-left: 15px !important;
    }
  }

	.article {
	  margin-bottom: 100px;
    padding-right: 0px;
    padding-left: 50px;

    @media screen and (max-width: 992px) {
      padding-right: 15px;
      padding-left: 15px;
    }

    &:first-child {
      padding-right: 50px;
      padding-left: 50px;

      @media screen and (max-width: 992px) {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
	}

	h2, p {
  	margin-bottom: 28px;
    font-size: 22px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    color: #000000;
    transition: color 0.5s ease;
	}

	h2 {
    @extend .Haas-Regular;

    &:hover {
      color: #181818;
    }
	}

	p {
	  @extend .Haas-Light;
	}

	a, a:hover, a:focus {
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    color: #181818 !important;
    border-bottom: 2px solid #181818;
    padding-bottom: 3px;
    text-decoration: none !important;

    @extend .Haas-Regular;
	}
  @media screen and (max-width: 768px) {
    margin-bottom: 0px;
  }
}
.articles-border {
	background: #f6f6f6;
  width: 2px;
  height: 207px;
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-top: -20px;

  &:nth-child(2) {
    display: none;
  }

  @media screen and (max-width: 990px) {
    display: none;
  }
}

/* --- Share widget --- */
.share-widget {
	margin-top: 130px;
	margin-bottom: 280px;
	text-align: center;
	font-size: 22px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.73;

  @extend .Haas-Light;

	a, a:hover, a:focus {
  	padding: 0 18px;
    font-size: 35px;
    vertical-align: middle;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.09;
    color: #000000;

    @extend .Haas-Regular;
	}
}
