@import "components.hamburger";
@import "components.animation";
@import "components.navbar";
@import "components.homepage";
@import "components.homepage-studies";
@import "variables";
@import "components.footer";
@import "components.page-casestudy.scss";
@import "components.page-about.scss";
@import "featured-work";

*:focus {
  outline: none;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}

@keyframes BodyFadeInAnimation {
from {opacity: 0;}
to {opacity: 1;}
}

body {
  margin: 0 auto;
  font-size: 16px !important;
  font-family:'Neue Haas Unica W01 Regular' !important;
  animation: BodyFadeInAnimation 1s;
}
b, strong {
  font-family:'Neue Haas Unica W01 Heavy';
}
/* --- Loader --- */
#loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/img/logo.svg') center no-repeat;
	background-size: 80px 80px;
}
div.progress {
	height: 10px;
	box-shadow: none;
	border-radius: 0px;
}
.progress-bar {
  transition-duration: 3s;
}
/* --- Navigation --- */
.container.home, .container.blog, .container.work {
  width: 100% !important;
  padding: 0px 40px !important;
}


.first {
	margin: 0 0 30px 0;
}

.mask {
	background-color: #f6f6f6;
	margin-bottom: 171px;
	height: 400px;
}
.latest-articles {
	margin-bottom: 200px;

  &-heading {
    padding-left: 50px !important;
    @media screen and (max-width: 992px) {
      padding-left: 15px !important;
    }
  }

	.article {
	  margin-bottom: 100px;
    padding-right: 0px;
    padding-left: 50px;

    @media screen and (max-width: 992px) {
      padding-right: 15px;
      padding-left: 15px;
    }

    &:first-child {
      padding-right: 50px;
      padding-left: 50px;

      @media screen and (max-width: 992px) {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
	}

	h2, p {
  	margin-bottom: 28px;
    font-size: 22px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    color: #000000;
    transition: color 0.5s ease;
	}

	h2 {
    @extend .Haas-Regular;

    &:hover {
      color: #edac01;
    }
	}

	p {
	  @extend .Haas-Light;
	}

	a, a:hover, a:focus {
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    color: #edac01 !important;
    border-bottom: 2px solid #edac01;
    padding-bottom: 3px;
    text-decoration: none !important;

    @extend .Haas-Regular;
	}
  @media screen and (max-width: 768px) {
    margin-bottom: 0px;
  }
}
.articles-border {
	background: #f6f6f6;
  width: 2px;
  height: 207px;
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-top: -20px;

  &:nth-child(2) {
    display: none;
  }

  @media screen and (max-width: 990px) {
    display: none;
  }
}

/* --- Contact Page --- */
.contact-header {
	background-image: linear-gradient(244deg, #f8d602, #edac01);
	color: #fff;
  height: 100vh;

  .yellow-logo {
    display: none;
  }

  &.white {
    background: #fff;

    .yellow-logo {
      display: block;
    }
    .white-logo {
      display: none;
    }
  }

	p {
  	font-size: 23px;
    font-style: normal;
    font-stretch: normal;

    @extend .Haas-Regular;
	}

	h2 {
  	margin-bottom: 36px;
    font-size: 38px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;

    @extend .Haas-Light;
	}

	a, a:hover {
  	color: #fff;
    padding-bottom: 3px;
    text-decoration: none;
	}
  @media screen and (max-width: 800px) {
    text-align: center;
    p {
      font-size: 22px;
      line-height: 2.18;
    }
    h2 {
      margin-bottom: 25px;
      font-size: 28px;
      line-height: 1.71;
    }
    .anything-else {
      font-size: 16px;
      padding: 0 25px;

      a, a:hover {
        border-bottom: 2px solid #fff;
      }
    }
  }
  .contact-information {
    padding-top: 140px;
  }
}
/* --- Blog --- */
.blog-header {

  background: #001fff;

    .hero {
    height: 480px;
    margin-bottom: 150px;
    .title {
      background-color: #fff;
    h2 {
      color: #001fff;
      @extend .Haas-Bold;
      line-height: 1.58;
      font-size: 38px;
      max-width: 1000px;
      padding: 180px 77px;
      }
    }
    }
}
.blog-excerpt {
	padding-bottom: 60px;
	padding-top: 60px;
	border-bottom: solid 2px #f6f6f6;

	img {
    width: 100%;
  }

	h2 {
	 margin-bottom: 28px;
   max-width: 800px;

	 a, a:hover, a:focus {
  	font-size: 38px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    color: #001fff;
    text-decoration: none;

    @extend .Haas-Bold;
  }
 }
  @media screen and (max-width: 800px) {
    padding-top: 90px;
    padding-bottom: 90px;
    h2 {
      font-size: 22px;
    }
    .article-img {
      margin-top: 40px;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }

  .blog-item {
    padding: 35px 10px;

    @media screen and (max-width: 768px) {
      padding: 35px 15px;
    }
  }
}
.post-content {
  padding-top: 150px;
  padding-bottom: 210px;
}
.date {
	margin: 28px 0;
  color: #001fff;
  font-size: 20px;
}
.excerpt {
	padding: 30px 0px;
	font-size: 22px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.73;
	color: #000000;

  @extend .Haas-Regular;
}
.read-article a, .read-article a:hover, .read-article a:focus {
	font-size: 13px;
	font-style: normal;
	font-stretch: normal;
	color: #001fff;
	text-decoration: none;
  letter-spacing: 1.5px;
  line-height: 1.69;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 0 auto;

  @extend .Haas-Bold;
}
article {
  img {
    width: 100%;
  }
}
/* --- Posts --- */
.blog-post {

}
.post-header {
	margin-top: 105px;
  padding: 193px 90px 100px;
  background: #fff;

  p {
    font-size: 12px;
    text-transform: uppercase;
  }
	.date, a {
  	font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    color: #000;

    @extend .Haas-Regular;
	}
  i {
    font-size: 14px;
    color: #fff;
    background-color: #001fff;
    padding: 7px;
  }

	h2 {
  	font-size: 38px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    color: #001fff;
    max-width: 1000px;
    margin-bottom: 50px;
    @extend .Haas-Bold;
	}
  @media screen and (max-width: 768px) {
    margin: 100px 0 150px;
    text-align: center;
    h2 {
      font-size: 28px;
      line-height: 1.71;
      text-align: center;
    }
  }
}
.post-content {
  p {
  	margin-bottom: 100px;
  	font-size: 22px;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.73;

    @extend .Haas-Light;
  }
  img {
    width: 100%;
  }
  a, a:hover, a:focus {
    font-weight: 500;
    color: #edac01;
    text-decoration: none;
    border-bottom: 2px solid #edac01;
  }

  i {
    font-weight: 500;
    color: #edac01;
  }

  ul li {
    margin-top: -60px;
  }
  ol, ul {
    padding-left: 20px;
    font-size: 22px;
    font-family: 'Neue Haas Unica W01 Light';
  }
}
/* --- Share widget --- */
.share-widget {
	margin-top: 130px;
	margin-bottom: 280px;
	text-align: center;
	font-size: 22px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.73;

  @extend .Haas-Light;

	a, a:hover, a:focus {
  	padding: 0 18px;
    font-size: 35px;
    vertical-align: middle;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.09;
    color: #000000;

    @extend .Haas-Regular;
	}
}
