/* Extends */

.vertically-centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.Haas-Light {
  font-family:'Neue Haas Unica W01 Light';
}
.Haas-Bold {
  font-family:'Neue Haas Unica W01 Heavy';
}
.Haas-Regular {
  font-family:'Neue Haas Unica W01 Regular';
  font-weight: normal;
}