<!DOCTYPE html>
<html>
{% include head.html %}

<body id="barba-wrapper">
    <div class="barba-container" data-transition="BarbaAnimation">

        <div class="about-header">
            {% include navigation.html %}

        </div>

        <div class="container-fluid">

            <div class="col-md-12 about">
                <h2 class="about">
                            Daniel Baldwin is a Seattle-based brand + experience designer working with clients in the media, fashion, and tech industries. With 6+ years experience working in agency and startup environments, Daniel pairs his love for high-end design with his background in B2B/B2C marketing to deliver data-driven designs to his clients.

                            Daniel is the co-founder and Creative Director of <a href="https://goodhands.co/" target="blank" style="color:#EEAD00">GOOD HANDS</a>, a creative agency.

                            You can contact Daniel at <a href="mailto:hello@danielbaldwin.co" style="color:#EEAD00">hello@danielbaldwin.co</a> 🤙

                        </h2>
            </div>

        </div>

    </div>
    </div>
    {% include footer.html %}
    </div>
    {% include js.html %}
</body>

</html>