<!DOCTYPE html>
<html>
{% include head.html %}
 <body id="barba-wrapper">
 	<div class="barba-container" data-transition="BarbaAnimation">
		
    <div class="about-header">
		  	{% include navigation.html %}
    
        <div class="hero about-hero full-height">
          <div class="hero-content">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12 ">
                <div class="title">
                      <p>{{page.title}}</p>
                        <h2 class="header-animate"><span>{{ page['Hero Text'] }}</span></h2>
                     </div>
                </div>
              </div>
            </div>
          </div>
        </div>    
    
    </div>
    
		<div class="container-fluid">
			<div class="row grey about-page-description-wrapper">
        
        <div class="image-background-wrapper" style="background-image: url();"></div>
        
				<div class="container elements-in about-page-description">
          
          <div class="background"></div>
          
					<div class="col-md-6 about-page-description-left">
						<img class="img-responsive" src="{{ site.baseurl }}/img/daniel-portrait.jpg">
					</div>
					<div class="col-md-6 about-page-description-right clearfix">
						<h2>Hey, I’m Daniel Baldwin ✌️</h2>
						<p>I’m an Oakland based brand designer currently working with TINT’s marketing and product team. I enjoy working with companies, agencies, and startups of all sizes.</p>
						<p>I specialize in brand, strategy, and human-focused design and have done work for great companies both on and offline.</p>
					</div>
				</div>
        
			</div>
		</div>
		<div class="container about-content">
			<div class="row behind-brand elements-in">
				<div class="col-md-5">
						<h2>
              <span>Behind every great</span>
              <span>brand is a story and a</span> 
              <span>motive.</span>
            </h2>
				</div>
				<div class="col-md-7 circle-box">
					<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
				      <circle cx="50" cy="30" r="50" fill="#edac01"/>
				    </svg>
				    <div class="content">
						<p>I help startups and agencies understand their audience, build their brand, and design a user experience that harmonizes with the motive behind their existence.</p>
						<p>I am a strong believer in the importance of imbuing emotion, significance, and humanity into every customer touchpoint.</p>
					</div>
				</div>
			</div>
      
      
      
			<div class="row services elements-in">
				<div class="col-md-12">
					<h2>What I Offer:</h2>
				</div>
				<div class="col-md-4 service">
						<div class="border">
						<img style="height: 125px;" src="{{ site.baseurl }}/img/consulting.svg">
						<h3>Creative Direction</h3>
							<p class="expertise">
                <span>CX Consulting</span>
							  <span>Ethnographic Research</span>
							  <span>Qualitative Research</span>
							  <span>Persona Development</span>
              </p>
						</div>
				</div>
				<div class="col-md-4 service">
						<div class="border">
						<img style="height: 125px;" src="{{ site.baseurl }}/img/branding.svg">
						<h3>Branding & Identity</h3>
							<p class="expertise">
                <span>Brand Strategy</span>
							  <span>Identity Development</span>
							  <span>Brand Collateral</span>
							  <span>Guidelines & Toolkits</span>
              </p>
						</div>
				</div>
				<div class="col-md-4 service">
					<img style="height: 125px;" src="{{ site.baseurl }}/img/web-design.svg">
						<h3>Experience Design</h3>
						<p class="expertise">
              <span>User Experience</span>
						  <span>Website Design</span>
						  <span>Mobile / Product Design</span>
						  <span>Usability Testing</span>
            </p>
					</div>
			</div>
      
      
      
		</div>
		<div class="images elements-in">
		<svg viewBox="0 0 100 50" xmlns="http://www.w3.org/2000/svg">
	      <circle cx="10" cy="20" r="20" fill="#001eff"/>
	    </svg>
			<div class="container content">
				<div class="row">
					<div class="col-md-12">
							<h3>What I’m up to:</h3>
						  	<script async src="https://d36hc0p18k1aoc.cloudfront.net/pages/a5b5e5.js"></script><div class="tintup" data-id="danielbaldwinco" data-columns="" data-noimagescaling="true" data-mobilescroll="true" data-infinitescroll="true" data-personalization-id="844638" style="height:500px;width:100%;"></div>
					</div>
				</div>
			</div>
		</div>
		{% include footer.html %}
	</div>
{% include js.html %}
</body>
</html>