<!DOCTYPE html>
<html>
{% include head.html %}

 <body>
{% include start.html %}

  <div id="your-page" style="display:none;">
	<div class="home-header">
	  	{% include navigation.html %}
	  	<div class="container">
			<div class="col-md-12 content">
		        <div class="about-helping">
		        	<p>{{page.title}}</p>
		          	<h2>{{ page['Hero Text'] }}</h2>
		        </div>
		    </div>
	      </div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="behind-brand">
					<h2>Behind every great brand is a story and a motive.</h2>
				</div>
			</div>
			<div class="col-md-6">
				<div class="behind-brand">
					<p>I help startups and agencies understand their audience, build their brand, and design a user experience that harmonizes with the motive behind their existence.</p>
					<p>I am a strong believer in the importance of imbuing emotion, significance, and humanity into every customer touchpoint.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="rectangle-about">
					
				</div>
			</div>
			<div class="col-md-6">
				<div class="rectangle-about">
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="about-rectangle">
					<h3>Creative Direction</h3>
					<div class="about-border">
						<p>CX Consulting<br>
						Ethnographic Research<br>
						Qualitative Research<br>
						Persona Development</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="about-rectangle">
					<h3>Branding & Identity</h3>
					<div class="about-border">
						<p>Brand Strategy<br>
						Identity Development<br>
						Brand Collateral<br>
						Guidelines & Toolkits</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="about-rectangle">
					<h3>Experience Design</h3>
					<p>User Experience<br>
					Website Design<br>
					Mobile / Product Design<br>
					Usability Testing</p>
				</div>
			</div>
		</div>
	</div>
  </div>
   </body>
  </html>