<!DOCTYPE html>
<html>
{% include head.html %}
 <body id="barba-wrapper">
 	<div class="barba-container" data-transition="BarbaAnimation">
		<div class="about-header">
		  	{% include navigation.html %}
		  	<div class="container">
				<div class="col-md-8 col-sm-12 col-xs-12 hero">
					<div class="title">
			        	<p>{{page.title}}</p>
			          	<h2>{{ page['Hero Text'] }}</h2>
			         </div>
			    </div>
		      </div>
		</div>
		<div class="container-fluid">
			<div class="row grey">
				<div class="container">
					<div class="col-md-6">
						<img class="img-responsive" src="{{ site.baseurl }}/img/daniel-portrait.jpg">
					</div>
					<div class="col-md-6">
						<h2>Hey, I’m Daniel Baldwin <img style="height: 38px; vertical-align: text-bottom;" src="{{ site.baseurl }}/img/peace.png"></h2>
						<p>I’m an Oakland based brand designer currently working with TINT’s marketing and product team. I enjoy working with companies, agencies, and startups of all sizes.</p>
						<p>I specialize in brand, strategy, and human-focused design and have done work for great companies both on and offline.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container about-content">
			<div class="row behind-brand">
				<div class="col-md-6">
						<h2>Behind every great brand is a story and a motive.</h2>
				</div>
				<div class="col-md-6">
							<p>I help startups and agencies understand their audience, build their brand, and design a user experience that harmonizes with the motive behind their existence.</p>
							<p>I am a strong believer in the importance of imbuing emotion, significance, and humanity into every customer touchpoint.</p>
				</div>
			</div>
			<div class="row services">
				<div class="col-md-12">
					<h2>What I Offer:</h2>
				</div>
				<div class="col-md-4">
					<div class="service">
						<div class="border">
						<img style="height: 125px;" src="{{ site.baseurl }}/img/db-icon-05.svg">
						<h3>Creative Direction</h3>
							<p>CX Consulting<br>
							Ethnographic Research<br>
							Qualitative Research<br>
							Persona Development</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<div class="border">
						<img style="height: 125px;" src="{{ site.baseurl }}/img/db-icon-01.svg">
						<h3>Branding & Identity</h3>
							<p>Brand Strategy<br>
							Identity Development<br>
							Brand Collateral<br>
							Guidelines & Toolkits</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
					<img style="height: 125px;" src="{{ site.baseurl }}/img/db-icon-03.svg">
						<h3>Experience Design</h3>
						<p>User Experience<br>
						Website Design<br>
						Mobile / Product Design<br>
						Usability Testing</p>
					</div>
				</div>
			</div>
			<div class="row images">
				<div class="col-md-12">
					<h3>What I’m up to:</h3>
				  <script async src="https://d36hc0p18k1aoc.cloudfront.net/pages/a5b5e5.js"></script><div class="tintup" data-id="danielbaldwinco" data-columns="" data-noimagescaling="true" data-mobilescroll="true" data-infinitescroll="true" data-personalization-id="844638" style="height:500px;width:100%;"></div>
				</div>
			</div>
		</div>
		{% include footer.html %}
	</div>
{% include js.html %}
</body>
</html>