<!DOCTYPE html>
<html>
{% include head.html %}
<body id="barba-wrapper">
	<div class="barba-container" data-transition="BarbaAnimation">
			<div class="blog-header elements-in" style="background: {{ page['Hero Background'] }}">
			  	{% include navigation.html %}
			  	<div class="container">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12 hero">
								<div class="title">
			          	<h2>{{ page['Hero Text'] }}</h2>
			         </div>
					    </div>
				    </div>
					</div>
			</div>
			<div class="container">
			  {% for post in site.posts %}
			    	<div class="row blog-excerpt">
			    		<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 blog-item elements-in">
					    	<time class="date ">Posted on {{ post.date | date: '%B %d, %Y' }}</time>
					      	<h2 class=""><a href="{{ post.url }}">{{ post.title }}</a></h2>
				      		{% if post.first-image %}
				      		<img class="" src="{{ site.baseurl }}{{ post.first-image }}">

				      		{% elsif post.second-image %}

				      		<img class="" src="{{ site.baseurl }}{{ post.second-image }}">

				      		{% else %}

				      		{% assign images = post.content | split:"<img class="" " %}
							{% for image in images %}
							  {% if image contains 'src=' %}
							    {% assign imageMarkup = image | split:">" | first %}
							    <img class="" {{ imageMarkup }}>
							  {% break %}
							  {% endif %}
							{% endfor %}


				      		{% endif %}
					      	<p class="excerpt">{{ post.excerpt }}</p>
					      	<span class="read-article elements-in"><a href="{{ post.url }}">Read The Post</a></span>
				      	</div>
			      	</div>
			  {% endfor %}
			</div>
		{% include footer.html %}
	</div>
{% include js.html %}
</body>
</html>