<!DOCTYPE html>
<html>
{% include head.html %}

<body>
{% include start.html %}
<div id="your-page" style="display:none;">
{% include navigation.html %}
	<div class="container">
	  {% for post in site.posts %}
	    	<div class="row blog-excerpt">
	    		<div class="col-md-6">
			    	<time class="date">{{ page.date | date: '%B %d, %Y' }}</time>
			      	<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
			      	<p class="excerpt">{{ post.excerpt }}</p>
			      	<span class="read-article"><a href="{{ post.url }}">Read Article</a></span>
		      	</div>
		      	<div class="col-md-6 article-img">
		      		<img src="{{ site.baseurl }}{{ post.first-image }}">
		      		{% assign images = post.content | split:"<img " %}
					{% for image in images %}
					  {% if image contains 'src=' %}
					    {% assign imageMarkup = image | split:">" | first %}
					    <img {{ imageMarkup }}>
					    {% break %}
					  {% endif %}
					{% endfor %}
		      	</div>
	      	</div>
	  {% endfor %}
	</div>
{% include footer.html %}
{% include js.html %}
</div>
</body>
</html>