<!DOCTYPE html>
<html>
{% include head.html %}
<body id="barba-wrapper">
	<div class="barba-container" data-transition="BarbaAnimation">
	{% include navigation.html %}
	
	<div class="case-study-head" style="background-color: #edac01">
		<div class="container">
		    <div class="row">
		      <div class="col-md-12">
		          <div class="hero-text header-animate"><span><h2>{{ page['Hero Text'] }}</span></h2>
			          <div class="client-service">
			          	<div class="col-md-3"><p>CLIENT</p> {{ page.title }} </div>
			          	<div class="col-md-3"><p>SERVICES</p> {{ page.Services }} </div>
			          	<div class="col-md-3"><p>YEAR</p> {{ page.Year }} </div>
			          	<div class="col-md-3"><p>SHARE</p>
			          	<a target="_blank" OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="share-link"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
			          	<a target="_blank" OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;" href="https://twitter.com/home?status={{ page['Twitter Text'] }}" class="share-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			          	<a target="_blank" OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="share-link"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
			          	<a target="_blank" OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary=&source=" class="share-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			          </div>
		          </div>
		      </div>
		    </div>
		</div>
	</div>
</div>
	
	<div class="container case-study">
		<div class="row">
			{% assign content = page.content | strip_newlines %}
			{% if content != ""  %}
			<div class="col-md-12">
				{{ content }}
			</div>
			{% endif %}
		</div>
	</div>
	
	<div class="quote elements-in once">
		<div class="quote-background"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1>“{{ page.Review }}”</h1>
					<p>— {{ page.['Review Author'] }}</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="next-project elements-in">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Check out my next project,
					{% assign next = site.work | where: 'title', page['Case Study'] | first %}
						{% if next %}
						  <a href="{{ next.url }}">{{ next.title }}</a>
					{% endif %}
					</h1>
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}
	</div>
{% include js.html %}
</body>
</html>
