<!DOCTYPE html>
<html>
{% include head.html %}
<body id="barba-wrapper">
	<div class="barba-container" data-transition="BarbaAnimation">
	{% include navigation.html %}
	
	<div class="case-study-head" style="background-color: #edac01">
		<div class="container">
		    <div class="row">
		      <div class="col-md-12">
		          <div class="hero-text header-animate"><span><h2>{{ page['Hero Text'] }}</span></h2>
			          <div class="client-service">
			          	<div class="col-md-3"><p>CLIENT</p> {{ page.title }} </div>
			          	<div class="col-md-3"><p>SERVICES</p> {{ page['Services']}} </div>
			          	<div class="col-md-3"><p>YEAR</p> {{ page['Year']}} </div>
			          	<div class="col-md-3"><p>SHARE</p>
			          	<a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
			          	<a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
			          	<a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
			          	<a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			          </div>
		          </div>
		      </div>
		    </div>
		</div>
	</div>
</div>
	
	<div class="container case-study">
		<div class="row">
			{% assign content = page.content | strip_newlines %}
			{% if content != ""  %}
			<div class="col-md-12">
				{{ content }}
			</div>
			{% endif %}
		</div>
	</div>
	
	<div class="quote elements-in once">
		<div class="quote-background"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1>“{{ page.review }}”</h1>
					<p>— {{ page.['Review Author'] }}</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="next-project elements-in">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Check out my next project,
					{% assign next = site.work | where: 'title', page['Case Study'] | first %}
						{% if next %}
						  <a href="{{ next.url }}">{{ next.title }}</a>
					{% endif %}
					</h1>
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}
	</div>
{% include js.html %}
</body>
</html>
