<!DOCTYPE html>
<html>
{% include head.html %}

 <body>
{% include start.html %}

<div id="your-page" style="display:none;">
{% include navigation.html %}
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="believe">
        	<p>{{page.title}}<p>
          <h2>{{ page['Hero Text'] }}</h2>
        </div>
      </div>
    </div>
</div>
<div class="container case-study">
	<div class="row">
		<div class="col-md-12">
			<img src="{{ page['First Large Image'] }}">
		</div>
		<div class="col-md-8 col-md-offset-2 text">
			<p>
			{{content}}
			</p>
		</div>
		{% for Image in page.Images %}
			<div class="col-md-6">
			  <img src="{{ Image }}">
			</div>
		{% endfor %}
		<div class="col-md-8 col-md-offset-2 text">
			<p>
			{{ page['Second Paragraph Text'] }}
			</p>
		</div>
		<div class="col-md-12">
			<img src="{{ page['Second Large Image'] }}">
		</div>
		<div class="col-md-8 col-md-offset-2 text">
			<p>
			{{ page['Third Paragraph Text'] }}
			</p>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<img src="{{ page['One Small Image'] }}">
		</div>
		<div class="col-md-8 col-md-offset-2 text">
			<p>
			{{ page['Fourth Paragraph Text'] }}
			</p>
		</div>
	</div>
</div>
<img style="width: 100%" src="{{ page['Third Large Image'] }}">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			{% include share.html %}
		</div>
	</div>
</div>


{% include footer.html %}
{% include js.html %}
</div>
</body>
</html>
