<!DOCTYPE html>
<html>
{% include head.html %}
<body id="barba-wrapper">
	<div class="barba-container" data-transition="BarbaAnimation">
		{% include navigation.html %}
		<!--div class="contact-header">
			<div class="contact-information">
				<div class="background"></div>
				<p>Contact</p>
				<h2 class="header-animate">
					<span>For business inquiries, email</span>
					<span>danielbaldwinco@gmail.com</span>
				</h2>
				<p class="anything-else">
					For anything else, connect with me on<br class="hidden-sm"> <a href="http://www.twitter.com/danielbaldwinco">Twitter</a>, <a href="http://linkedin.com/in/danielbaldwinco">LinkedIn</a>, or <a href="https://medium.com/@danielbaldwin_">Medium</a>.
				</p>
			</div>
		</div-->
		
		<div class="hero contact-header full-height">
			
			<div class="background"></div>
			
			<div class="hero-content">

				<div class="container">
				
					<div class="contact-information">
		
						<p>Contact</p>
						<h2 class="header-animate">
							<span>For business inquiries, email</span>
							<span>danielbaldwinco@gmail.com</span>
						</h2>
						<p class="anything-else">
							For anything else, connect with me on<br class="hidden-sm"> <a href="http://www.twitter.com/danielbaldwinco">Twitter</a>, <a href="http://linkedin.com/in/danielbaldwinco">LinkedIn</a>, or <a href="https://medium.com/@danielbaldwin_">Medium</a>.
						</p>
					</div>				
				
				</div>
				
			</div>	
			
		</div>			
		
	</div>
{% include js.html %}
</body>
</html>