<!DOCTYPE html>
<html>
{% include head.html %}
<body id="barba-wrapper"y>
	<div class="barba-container" data-transition="BarbaAnimation">
		{% include navigation.html %}
		<div class="container">
		    <div class="row">
		      <div class="col-md-12">
		        <div class="believe">
		        	<p>Featured Work</p>
		          <h2 class="header-animate">
								<span>Crafting inspiring experiences for</span>
								<span>aspiring brands.</span>
								</h2>
		        </div>
		      </div>
		    </div>
		</div>
		<div class="container">
        <div class="row case-studies">
        {% assign sorted_work = site.work | sort:"position" %}
        {% for work in sorted_work %}
        {% assign loopindex = forloop.index %}
           <div class="work-item elements-in {% if loopindex == 1 %}active{% elsif loopindex == 2 %}active{% endif %} col-md-{{work['Bootstrap Columns'] }}">
              <div class="rectangle hovereffect" style="background: {{ work['Hover Background'] }};">
                    <a class="work-item-inner-wrapper" href="{{ site.baseurl }}{{ work.url }}">
                      	<picture>

		                  <source media="(max-width: 768px)" srcset="{{ work.['Featured Mobile Image'] }}">

		                  <img class="lazy img-responsive" src="{{ work.['Featured Image'] }}" alt="{{ work.['Hero Text'] }}">

		                </picture>     
                      <div class="overlay">
											<div class="work-item_title-wrapper">
                      	<h1>{{ work.Client }}</h1>
											</div>
											<div class="work-item_title2-wrapper">
                      	<h2>{{ work['Hero Text'] }}</h2>
											</div>
                      <span class="bottom-left" href="">{{ work.categories | array_to_sentence_string }}</span><span class="bottom-right" href="{{ site.baseurl }}{{ work.url }}"> - See {{ work['Type'] }}</span>
                      </div>
                    </a>
                  </div>
            </div>
        {% endfor %}
        </div>
       </div>
		{% include footer.html %}
	</div>
{% include js.html %}
</body>
</html>
