<!DOCTYPE html>
<html>
{% include head.html %}
<body id="barba-wrapper"y>
	<div class="barba-container" data-transition="BarbaAnimation">
		{% include navigation.html %}
		<div class="container">
		    <div class="row">
		      <div class="col-md-12">
		        <div class="believe">
		        	<p>Featured Work</p>
		          <h2>Crafting inspiring experiences for<br> aspiring brands.</h2>
		        </div>
		      </div>
		    </div>
		</div>
		<div class="container">
        <div class="row case-studies">
        {% assign sorted_work = site.work | sort:"position" %}
        {% for work in sorted_work %}
           <div class="work-item elements-in col-md-{{work['Bootstrap Columns'] }}">
              <div class="rectangle hovereffect" style="background: {{ work['Hover Background'] }};">
                    <a href="{{ site.baseurl }}{{ work.url }}">
                      <img class="lazy img-responsive" data-src="{{ work['Featured Image'] }}" alt="">
                      <div class="overlay">
											<div class="work-item_title-wrapper">
                      	<h1>{{ work.title }}</h1>
											</div>
                      <h2>{{ work['Hero Text'] }}</h2>
                      <a class="bottom-left" href="">{{ work.categories | array_to_sentence_string }}</a><a class="bottom-right" href="{{ site.baseurl }}{{ work.url }}"> - See {{ work['Type'] }}</a>
                      </div>
                    </a>
                  </div>
            </div>
        {% endfor %}
        </div>
       </div>
		{% include footer.html %}
	</div>
{% include js.html %}
</body>
</html>
