<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include start.html %}
  <div id="home" style="display: none">
	  <div class="home-header">
    {% include navigation.html %}
	  	<div class="container">
	  		<div class="col-md-12 hero animated fadeIn">
	      		<h1>{{ page['Hero Text'] }}</h1>
	      	</div>
	      </div>
	  </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="believe">
              <h2>{{ page['Under Hero Text'] }}</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container db-icon">
        <div class="row db-icons">
          <div class="col-xs-2 col-offset-2">
            <img style="height: 125px;" src="{{ site.baseurl }}/img/db-icon-01.svg">
            <h3>Branding</h3>
          </div>
          <div class="col-xs-2">
            <img style="height: 125px;" src="{{ site.baseurl }}/img/db-icon-02.svg">
            <h3>Strategy</h3>
          </div>
          <div class="col-xs-2">
            <img style="height: 125px;" src="{{ site.baseurl }}/img/db-icon-03.svg">
            <h3>Web Design</h3>
          </div>
          <div class="col-xs-2">
            <img style="height: 125px;" src="{{ site.baseurl }}/img/db-icon-04.svg">
            <h3>Product</h3>
          </div>
          <div class="col-xs-2">
            <img style="height: 125px;" src="{{ site.baseurl }}/img/db-icon-05.svg">
            <h3>Consulting</h3>
          </div>
        </div>
      </div>
      {% include case-studies.html %}
       <!-- <div class="container">
        <div class="row">
          <div class="col-md-12 hidden-sm hidden-xs">
            <div class="mask reveal">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 latest-articles-heading">
            <p>Latest Articles</p>
          </div>
        </div>
        <div class="row latest-articles">
        {% for post in site.posts limit:2 %}
    		<div class="col-md-6 article">
			      	<a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
			      	<p>{{ post.excerpt }}</p>
			      	<a href="{{ post.url }}">Read Article</a>
	      	</div>
          <div class="articles-border"></div>
		  {% endfor %}
		</div>
    </div> -->
    {% include footer.html %}
  </div>
  {% include js.html %}
</body>
</html>