<!DOCTYPE html>
<html>

  {% include head.html %}

<body>
{% include start.html %}

  <div id="your-page" style="display:none;">
	  <div class="home-header">
	  	{% include menu.html %}
	  	<div class="container">
	  		<div class="col-md-12 hero">
	      		<h1>{{ page['Hero Text'] }}</h1>
	      	</div>
	      </div>
	  </div>


      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="believe">
              <h2>{{ page['Under Hero Text'] }}</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 first">
            <div class="rectangle">
              <h2>Powercity Films</h2>
              <p>Developing an identity for a storytelling<br> film company</p>
              <a href="">See Case Study</a>
            </div>
          </div>
          <div class="col-md-4 last">
            <div class="rectangle-1">
              <h2>Cole & Oak</h2>
              <p>Lorem ipsum dolor sit amet ipsum amet sit lorem</p>
              <a href="">See Case Study</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 first">
            <div class="rectangle-2">
              <h2>TINT</h2>
              <p>Defining a brand experience for an<br> established startup</p>
              <a href="">See Case Study</a>
            </div>
          </div>
          <div class="col-md-6 last">
            <div class="rectangle-3">
              <h2>Twelve23</h2>
              <p>Rebranding a web solutions company<br> into a creative agency</p>
              <a href="">See Case Study</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="more-projects">
              <a href="">See More Projects <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="mask">
              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Latest Articles</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="latest-articles">
            <div class="articles-border">
              <h2>Your Brand as a Religion: Influence, Symbolism,<br> and Community</h2>
              <p>How building a foundation, story, and following<br> influence consumer behavior.</p>
            </div>
              <a href="">Read Article</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="latest-articles">
              <h2>Finding Your Flow: Creating a Design Process<br> That Works for You</h2>
              <p>Why shaping your own design process is more<br> successful than following a methodology.</p>
              <a href="">Read Article</a>
            </div>
          </div>
        </div>
      </div>
{% include footer.html %}
{% include js.html %}
  </div>
   </body>

</html>
