---
layout: default
---

{% include navigation.html %}

<div class="container">
	<div class="row">
			<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
				
				<div class="col-md-8 col-xs-12">
					<header class="post-header">
					  	<time class="date">{{ page.date | date: '%B %d, %Y' }}</time>
					    <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
				  </header>
				</div>
				
				<div class="clearfix visible-lg-block visible-md-block visible-sm-block visible-xs-block"></div>
				
				<div class="col-md-12">
					 <img src="{{ page['first-image'] }}">
				</div>
				
				<div class="col-md-8 col-md-offset-2">
					<div class="post-content" itemprop="articleBody">
				    	{{ content }}
				  	</div>
				</div>
				
				<div class="col-md-12">
					 <img src="{{ page['second-image'] }}">
				</div>
				
			</article>
	</div>
	{% include share-blog.html %}
</div>
